#bot-bar {
    align-items: flex-end;
    align-self: center;
    background: rgba(0, 0, 0, 0.25); /* url('../png/circuit-background.png') no-repeat center/250% */
    border-radius: 10px;
    display: none;
    justify-content: center; /* Center items horizontally */
    overflow: hidden;
    width: 65%; /* Set width to 65% of the parent container */
    max-height: 0.5em; /* Start with a small height */
    transition: max-height 0.5s ease-in-out; /* Animation for the windowshade effect */
    /* descendent styles */
    .bot-thumb {
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease, margin 0.3s ease;
        cursor: pointer;
        z-index: 1;
        margin: 0; /* Default margin */
    }
    .bot-thumb:hover {
        transform: scale(1.5);
        z-index: 2;
        margin: 0 1em; /* Increase margin on hover in em */
    }
    .bot-thumb-container {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 1em; /* Space between containers in em */
        position: relative;
    }
}
#bot-bar:hover {
    max-height: 3em; /* Adjust to desired expanded height */
    overflow: visible; /* Make overflow visible on hover */
}
/* bot widget */
.bot { /* along with widget */
	align-items: stretch;
}
.bot-container {
	box-sizing: border-box;
    cursor: pointer;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	margin: 0.2rem 0;
    max-width: 100%;
    width: 100%;
}
.bot-content {
    /* Hidden by default */
    display: none;
    overflow: hidden;
}
.bot-content.visible {
    /* Show content when active */
    display: block;
}
.bot-header {
    /* Styling for the header */
	font-size: 1.2em;
}
.bot-icon {
    background-image: radial-gradient(circle at 0.1em 0.1em, #eaedff 0%, #1e3b4e 40%, rgb(60 162 213) 80%, #404553 100%);
	border: rgba(0, 0, 0, 0.7) 0.12em solid !important;
	border-radius: 50%;
	box-shadow: 0.6px 2px 3px rgba(0, 0, 0, 0.6);
    display: flex;
	flex: 0 0 auto;
	height: 1.5em;
	margin: .4em;
	position: relative;
	width: 1.5em;
}
.bot-icon.active {
	animation: _statusBlink 6s ease-in-out infinite;
	background-image: radial-gradient(circle at 0.1em 0.1em, #dfe731 0%, #8b9d3f 40%, rgb(237 255 74) 80%, #000000 100%);
}
.bot-icon.error {
    animation-name: _statusBlink 1.5s ease-in-out infinite;
    background-image: radial-gradient(circle at 0.1em 0.1em, #ffc6c6 0%, #582727 40%, rgb(236, 81, 81) 80%, #4b1c1c 100%);
}
.bot-icon.offline {
    animation: none;
}
.bot-icon.online {
	animation: none;
	background-image: radial-gradient(circle at 0.1em 0.1em, #ecffea 0%, #1e4e2d 40%, rgb(55, 255, 41) 80%, #3b3b3b 100%);
}
.bot-name {
	color: inherit;
}
.bot-options {
	border: rgba(0, 0, 0, 0.7) 0.12em solid;
	border-radius: 0 0 0.22em 0.22em;
	border-top: none;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
	display: none; /* Initially not displayed */
    margin: 0em 1em 1em 1em;
	padding: 0.5em;
}
.bot-options.open {
    display: flex; /* Make it flex when open */
    flex-direction: row;
    flex-wrap: wrap;
    animation: _slideBotOptions 0.5s forwards;
}
.bot-options-dropdown {
    align-items: center;
    background-color: rgba(255, 255, 255, .7); /* Circle color */
	border: rgba(0, 0, 0, 0.7) 0.12em solid;
    border-radius: 50%; /* Make it round */
    display: flex;
	flex: 0 0 auto;
    height: 1.5em; /* Size of the circle */
    justify-content: center;
	margin-left: 0.8em;
    width: 1.5em; /* Size of the circle */
}
.bot-options-dropdown::before {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgba(29, 29, 70, .6); /* Triangle color */
    transform: rotate(90deg); /* Initial rotation */
    transition: transform 0.3s ease; /* Smooth rotation transition */
}
.bot-options-dropdown.open::before {
    transform: rotate(0deg); /* Rotation when open */
}
.bot-passphrase {
    width: 100%;
}
.bot-status {
	align-items: center;
	background-color: #007BFF;
	border: rgba(0, 0, 0, 0.1) 0.12em solid;
	border-radius: .2em;
	box-shadow: inset 0.3em 0.2em .6em lightblue, 0.1em 0.2em 0.3em black;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	margin: 0.2em 0.2em 0em 0.2em;
	padding: 0.2em;
}
.bot-title {
	color: aliceblue;
    display: flex;
	flex: 0 0 auto;
	font-size: 0.8em;
	font-weight: bold;
	margin-right: 1em;
    max-height: 100%;
    max-width: 8em;
    overflow: hidden;
    overflow-wrap: break-word;
    width: min-content;
}
.ticker {
	background: radial-gradient(at top left, darkgray, black); /* Radial gradient background */
    border: 0.5px solid rgba(255, 255, 255, 0.5); /* Thin white border with 50% opacity */
    box-shadow: inset -4px -14px 13px 2px rgba(0, 0, 0, 0.5); /* Inset shadow for top and left */
    border-radius: 0.3em;
    color: rgb(28, 255, 28);
    display: flex;
    flex: 1 1 auto;
    font-family: 'Courier New', monospace; /* Monospace font for teletype look */
    max-width: 100%;
    min-width: 5em; /* Allow the text to shrink */
    overflow: hidden; /* Hide the overflowing part of the text */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}
.ticker span {
    animation: _scrollText 12s linear infinite; /* Continuous scrolling effect */
    display: inline-block; /* Inline block for the animation */
    padding-left: 110%; /* Space before scrolling starts */
}
.ticker span.no-animation {
    animation: none;
	padding: 0;
}
.mylife-widget.bots {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 100%;
}
/* bot-collections */
.collection {
    background-color: royalblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
}
.collection-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: flex-start;
    max-width: 100%;
    min-height: 2.5em;
    width: 100%;
}
.collection-icon {
    display: flex;
    flex: 0 0 auto;
    min-height: 2em;
    width: auto;
}
.collection-item {
    align-items: center;
    background-color: aliceblue;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5em;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
}
.collection-item-icon {
    display: flex;
    flex: 0 0 auto;
    height: auto;
    max-height: 3em;
    width: auto;
}
.collection-item-name {
    color: navy;
    display: flex;
    flex: 1 1 auto;
    font-size: 1.1em;
    font-style: italic;
    overflow: hidden;
    text-wrap: nowrap;
}
.collection-item-delete {
    color: navy;
    display: flex;
    flex: 0 0 auto;
    font-size: 1.3em;
    margin: 0 0.5em;
}
.collection-item-delete:hover {
    color: red;
}
.collection-list {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0.2em 0;
    max-width: 100%;
    width: 100%;
}
.collection-popup {
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex: 1 0 auto;
    gap: 0.5em;
    height: auto;
    left: auto;
    overflow: auto;
    padding: 1em;
    position: absolute;
    right: 100%;
    top: 0;
    visibility: hidden;
    width: 40em;
}
.collection-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    color: navy;
    cursor: pointer;
    font-size: 1.3em;
}
.collection-popup-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    max-width: 100%;
    width: 100%;
}
.collection-popup-visible {
    top: auto;
    visibility: visible; /* location properties handled by js */
}
.collection-refresh {
    color: aliceblue;
    display: flex;
    flex: 0 0 auto;
    font-size: 1.3em;
    margin: 0 0.5em;
}
.collection-title {
    color: aliceblue;
    display: flex;
    flex: 1 1 auto;
    font-size: 1.2em;
    font-weight: bold;
}
.collections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
}
/* avatar passphrases */
.passphrase-input {
    flex: 1 1 auto;
}
.passphrase-container {
    align-items: center;
    display: none;
    flex-direction: row;
    gap: 0.5em;
    justify-content: space-between;
    width: 100%;
}
.passphrase-reset {
    width: 100%;
}
/* bot slider */
.input-group {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.input-group label {
    display: block;
    margin-bottom: 10px;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 0.4em; /* Height of the track */
    margin: 0.75em 0;
    width: 100%;
    background: black; /* Black track */
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #9faee7; /* Fader color */
    cursor: pointer;
    height: 2em; /* Height of the fader */
    width: 1em; /* Width of the fader */
    border-radius: 0.2em; /* Slightly rounded edges */
    border: 1px solid #666; /* Border for fader */
}
input[type="range"]::-moz-range-thumb {
    background: #9faee7;
    cursor: pointer;
    height: 2em;
    width: 1em;
    border-radius: 0.2em;
    border: 1px solid #666;
}
.privacy-slider {
	width: 100%;
}
.slider {
	width: 100%;
}
.slider-labels {
    display: flex;
    justify-content: space-between;
	width: 100%;
}

.slider-labels span {
	text-align: center;
}
.toggle-switch {
    /* Styling for toggle switch */
	background-color: #ccc;
}
/* interests */
.checkbox-group {
    display: flex; /* Use Flexbox */
    flex-wrap: wrap; /* Allow items to wrap into new lines */
    justify-content: flex-start; /* Align items to the left */
    max-height: 100px; /* Adjust as needed */
    overflow-y: auto; /* Make it scrollable */
    font-size: 0.9em; /* Shrink text */
}
.checkbox-group-item {
	align-items: center;
	display: flex;
    flex: 0 0 48%; /* Each item takes up roughly half the container width */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    white-space: nowrap; /* Keep text on one line */
}
.checkbox-group label {
	padding-left: 0.5em;
	margin: 0;
}
/* keyframes */
@keyframes _scrollText {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
@keyframes _slideBotOptions { /* @todo: make slide down from under status */
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes _statusBlink {
    0% { opacity: 0.7; }
    50% { opacity: 1; }
    100% { opacity: 0.7; }
}