/* document vars */
:root {
    --border-radius: 0.22rem;
    --collection-item-popup-z-index: calc(var(--mylife-sidebar-z-index)+50);
    --slider-height: 1rem;
    --slider-margin: 0.1rem;
    --slider-width: 2rem;
}
/* bot bar */
.bot-bar {
    align-items: flex-end;
    align-self: center;
    background: rgba(0, 0, 0, 0.25); /* url('../png/circuit-background.png') no-repeat center/250% */
    border-radius: 10px;
    display: none;
    justify-content: center; /* Center items horizontally */
    overflow: hidden;
    width: 65%; /* Set width to 65% of the parent container */
    max-height: 0.5rem; /* Start with a small height */
    transition: max-height 0.5s ease-in-out; /* Animation for the windowshade effect */
}
.bot-bar:hover {
    max-height: 3rem; /* Adjust to desired expanded height */
    overflow: visible; /* Make overflow visible on hover */
}
.bot-bar-divider {
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
    height: 100%; /* Height of the divider */
    width: 0.1rem; /* Full width */
}
.bot-thumb {
    cursor: pointer;
    height: 2.5rem;
    margin: 0 0.1rem; /* Default margin */
    transition: transform 0.3s ease, margin 0.3s ease;
}
.bot-thumb:hover {
    transform: scale(1.5);
    margin: 0 1rem; /* Increase margin on hover in em */
}
.bot-thumb-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 0.22rem; /* Space between containers in em */
    position: relative;
}
.bot-thumb-active {
    background-image: radial-gradient(circle at center, rgba(255, 255, 0, 0.75) 0%, transparent 100%);
    cursor: not-allowed;
}
/* bot widget */
.bot { /* along with widget */
	align-items: stretch;
}
.bot-container,
.collections-container {
    cursor: pointer;
    display: flex;
    flex: 1 1 auto; /* Allow it to grow and shrink */
    flex-direction: column;
    justify-content: space-between;
    margin: 0.2rem 0;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}
.bot-content {
    /* Hidden by default */
    display: flex;
    overflow: auto;
}
/* team */
.add-team-member-icon {
    font-size: 1.5rem;
    padding: 0 1rem;
    cursor: pointer;
}
.team-header {
    align-items: center;
    background-color: #333; /* Change as needed */
    color: white;
    display: flex;
	font-size: 1.2rem;
    justify-content: space-between;
    padding: 0.8rem;
}
.team-name {
    font-size: 1.2rem;
    font-weight: bold;
}
.team-popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
}
.team-popup-content {
    background-color: #333; /* Change as needed */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.8rem;
}
/* bot */
.bot-icon,
.collections-spacer {
    display: flex;
	flex: 0 0 auto;
	height: 1.5rem;
	margin: .4rem;
	position: relative;
	width: 1.5rem;
}
.bot-icon {
    background-image: radial-gradient(circle at 0.1rem 0.1rem, #eaedff 0%, #1e3b4e 40%, rgb(60 162 213) 80%, #404553 100%);
	border: rgba(0, 0, 0, 0.7) 0.12rem solid !important;
	border-radius: 50%;
	box-shadow: 0.6px 2px 3px rgba(0, 0, 0, 0.6);
}
.bot-icon.active {
	animation: _statusBlink 6s ease-in-out infinite;
	background-image: radial-gradient(circle at 0.1rem 0.1rem, #dfe731 0%, #8b9d3f 40%, rgb(237 255 74) 80%, #000000 100%);
}
.bot-icon.error {
    animation-name: _statusBlink 1.5s ease-in-out infinite;
    background-image: radial-gradient(circle at 0.1rem 0.1rem, #ffc6c6 0%, #582727 40%, rgb(236, 81, 81) 80%, #4b1c1c 100%);
}
.bot-icon.offline {
    animation: none;
}
.bot-icon.online {
	animation: none;
	background-image: radial-gradient(circle at 0.1rem 0.1rem, #ecffea 0%, #1e4e2d 40%, rgb(55, 255, 41) 80%, #3b3b3b 100%);
}
.bot-name {
	color: inherit;
}
.bot-options {
	border: rgba(0, 0, 0, 0.7) 0.12rem solid;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	border-top: none;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
	display: none; /* Initially not displayed */
    margin: 0em 0.5rem;
	padding: 0.5rem;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling */
}
.bot-options::-webkit-scrollbar,
.checkbox-group::-webkit-scrollbar {
    width: 6px; /* Adjust the width of the scrollbar */
}
.bot-options::-webkit-scrollbar-track,
.checkbox-group::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color of the track */
    border-radius: 10px; /* Optional: adds rounded corners to the track */
}
.bot-options::-webkit-scrollbar-thumb,
.checkbox-group::-webkit-scrollbar-thumb {
    background: rgba(232, 226, 183, .5); /* Color of the thumb */
    border-radius: 10px; /* Optional: adds rounded corners to the thumb */
}
.bot-options::-webkit-scrollbar-thumb:hover,
.checkbox-group::-webkit-scrollbar-thumb:hover {
    background: rgba(214, 198, 75, 0.5); /* Darker shade on hover */
}
.bot-options.open {
    animation: _slideBotOptions 0.5s forwards;
    display: flex; /* Make it flex when open */
    flex-direction: row;
    flex-wrap: wrap;
}
.bot-options-dropdown {
    align-items: center;
    background-color: rgba(255, 255, 255, .7); /* Circle color */
	border: rgba(0, 0, 0, 0.7) 0.12rem solid;
    border-radius: 50%; /* Make it round */
    display: flex;
	flex: 0 0 auto;
    height: 1.5rem; /* Size of the circle */
    justify-content: center;
	margin-left: 0.8rem;
    width: 1.5rem; /* Size of the circle */
}
.bot-options-dropdown::before {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid rgba(29, 29, 70, .6); /* Triangle color */
    transform: rotate(90deg); /* Initial rotation */
    transition: transform 0.3s ease; /* Smooth rotation transition */
}
.bot-options-dropdown.open::before {
    transform: rotate(0deg); /* Rotation when open */
}
.bot-passphrase {
    width: 100%;
}
.bot-status,
.collections-titlebar {
	align-items: center;
	background-color: #007BFF;
	border: rgba(0, 0, 0, 0.1) 0.12rem solid;
	border-radius: var(--border-radius);
	box-shadow: inset 0.3rem 0.2rem .6rem lightblue, 0.1rem 0.2rem 0.3rem black;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0.2rem 0.2rem 0em 0.2rem;
}
.bot-title,
.collections-title {
    align-items: center;
	color: aliceblue;
    display: flex;
    flex: 0 0 70%;
    font-size: 0.8rem;
    font-weight: bold;
    max-height: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
}
.bot-title-name,
.bot-title-type {
    flex: 0 1 auto;
    margin-right: 0.4rem;
}
.bot-title-name {
    color: aquamarine;
    flex-grow: 1;
}
.bot-title-version {
    color: lightblue;
    cursor: not-allowed;
    flex: 0 0 auto;
    font-size: 0.6rem;
    margin-left: auto; /* Pushes the version div to the right end */
}
.mylife-widget.bots {
	flex-direction: column;
	justify-content: flex-start;
    max-width: 100%;
}
.publicity-toggle-view-icon {
    cursor: default;
    font-size: 1.25rem;
}
.retire-container {
    align-items: center;
    color: gray;
    cursor: pointer;
    display: flex;
    font-size: 1.25rem;
    justify-content: flex-end;
    width: 100%;
}
.retire-icon {
    display: flex;
    margin: 0.1rem 0.3rem;
}
.retire-icon:hover {
    color: red;
    display: flex;
    font-size: 1.6rem;
    margin: 0 0.4rem;
}
.retire-text {
    display: flex;
    font-size: 1.1rem;
    padding: 0;
}
.ticker {
	background: radial-gradient(at top left, darkgray, black); /* Radial gradient background */
    border: thin solid rgba(255, 255, 255, 0.5); /* Thin white border with 50% opacity */
    box-shadow: inset -4px -14px 13px 2px rgba(0, 0, 0, 0.5); /* Inset shadow for top and left */
    border-radius: 0.3rem;
    color: rgb(28, 255, 28);
    display: flex;
    flex: 1 1 auto;
    font-family: 'Courier New', monospace; /* Monospace font for teletype look */
    max-width: 100%;
    min-width: 5rem; /* Allow the text to shrink */
    overflow: hidden; /* Hide the overflowing part of the text */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}
.ticker span {
    animation: _scrollText 12s linear infinite; /* Continuous scrolling effect */
    display: inline-block; /* Inline block for the animation */
    padding-left: 110%; /* Space before scrolling starts */
}
.ticker span.no-animation {
    animation: none;
	padding: 0;
}
.update-available {
    align-items: flex-end;
    background-color: rgb(255 0 123 / 50%);
    border: thin solid rgb(255 157 190 / 66%);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: flex-end;
    padding: 0.3rem;
}
.update-available:hover {
    align-items: flex-end;
    background-color: rgba(255, 251, 0, 0.5);
    border: thin solid rgba(255, 205, 222, 0.66);
    border-radius: var(--border-radius);
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding: 0.3rem;
}
/* bot-collections */
.collection {
    background-color: royalblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
}
.collection-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start;
    max-width: 100%;
    min-height: 2.5rem;
    width: 100%;
}
.collection-icon {
    display: flex;
    flex: 0 0 auto;
    min-height: 2rem;
    width: auto;
}
.collection-item {
    align-items: center;
    background-color: aliceblue;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
}
.collection-item-icon {
    display: flex;
    flex: 0 0 auto;
    height: auto;
    max-height: 3rem;
    width: auto;
}
.collection-item-delete {
    color: navy;
    display: flex;
    flex: 0 0 auto;
    font-size: 1.3rem;
    margin: 0 0.5rem;
}
.collection-item-delete:hover {
    color: red;
}
.collection-item-name {
    color: navy;
    display: flex;
    flex: 1 1 auto;
    font-size: 1.1rem;
    font-style: italic;
    overflow: hidden;
    text-wrap: nowrap;
}
.collection-item-summary {
    color: darkblue;
    display: flex;
    flex: 0 1 auto;
    font-size: 1.5rem;
}
.collection-list {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0.2rem 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.collection-popup.popup-container {
    bottom: auto;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: auto;
    left: auto;
    margin: 0;
    overflow: auto;
	opacity: 0; /* Start with hidden popup */
    /* transition: opacity 0.3s; /* Smooth transition */
    padding: 0;
    position: absolute;
    right: 110vw;
    top: 0;
    width: 40em;
    z-index: var(--collection-item-popup-z-index); /* above sidebar and other popups */
}
.collection-popup-body {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.25rem;
    padding: 0.25rem;
}
.popup-close.collection-popup-close {
    font-size: 1rem;
}
.collection-popup-close:hover {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: aliceblue;
    color: white;
}
.popup-content.collection-popup-content {
    font-size: 0.75rem;
}
.popup-header.collection-popup-header {
    align-items: center;
    background-color: navy;
    color: aliceblue;
    cursor: grab;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}
.collection-popup-story,
.collection-popup-entry {
    align-items: flex-start;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.22rem;
    padding: 0.22rem;
}
.collection-refresh {
    color: aliceblue;
    display: flex;
    flex: 0 0 auto;
    font-size: 1.3rem;
    margin: 0 0.5rem;
}
.collection-title {
    color: aliceblue;
    display: flex;
    flex: 1 1 auto;
    font-size: 1.2rem;
    font-weight: bold;
}
.collections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start;
    max-width: 100%;
    width: 100%;
}
/* avatar passphrases */
.passphrase-input {
    flex: 1 1 auto;
}
.passphrase-container {
    align-items: center;
    display: none;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;
}
.passphrase-reset,
.tutorial-button {
    width: 100%;
}
/* publicity sliders */
.publicity {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    width: 100%; /* fill row */
}
.publicity-toggle {
    align-items: center;
    display: flex;
}
.publicity-slider {
    background-color: blanchedalmond;
    border: thin solid navy;
    border-radius: 2rem;
    cursor: pointer;
    display: flex;
    height: var(--slider-height);
    margin: 0 0.5rem;
    width: var(--slider-width);
    transition: .4s;
}
.publicity-slider:before { /* paint circle */
    background-color: navy;
    border-radius: 50%;
    content: "";
    margin: var(--slider-margin);
    width: calc(var(--slider-height) - (var(--slider-margin)*2));
    transition: ease-out .4s;
}
input:checked + .publicity-slider:before {
    transform: translateX(
        calc(var(--slider-height) - var(--slider-margin))
    );
}
/* stories/memories */
.improve-memory-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.25rem;
    padding: 0.25rem;
}
.improve-memory-lane {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    width: 100%;
}
.memory-shadow {
    align-items: center;
    background-color: teal;
    border: thin solid white;
    border-radius: 1rem;
    display: flex;
    flex: 0 0 40%;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 4rem;
    max-height: 7rem;
    overflow: hidden;
}
.memory-shadow-carousel {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: flex-start;
    margin: 0;
    max-height: 10rem;
    padding: 0;
    text-wrap: wrap;
    transition: transform 0.5s ease;
}
.memory-shadow-fade {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
    pointer-events: none;
}
.memory-shadow-pagers {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: center;
    margin: 0 0.5rem;
}
.memory-shadow-text {
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    font-size: 0.9rem;
    padding: 0.5rem;
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}
.relive-memory-button.button {
    display: flex;
    margin: 0.2rem 0;
    padding: 0 0.2rem;
    max-width: 80%;
    min-width: 60%;
}
.relive-memory-container { /* panel for how others `experience` memory story */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.2rem;
    padding: 0.2rem;
}
.relive-memory-explanation {
    display: flex;
    padding: 0.2rem;
}
.relive-memory-select { /* container for share memory selection packet */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}
/* entries */
.experience-entry-container { /* panel for `experience` of entry */
    align-items: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.2rem;
    padding: 0.2rem;
}
.experience-entry-explanation {
    display: flex;
    padding: 0.2rem;
}
.improve-entry-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.25rem;
    padding: 0.25rem;
}
.improve-entry-lane {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
}
.obscure-button.button,
.experience-button.button {
    display: flex;
    padding: 0 0.2rem;
    min-width: 35%;
}
/* summaries */
.summary-error {
    color: darkred;
}
/* media */
.media-carousel {
    align-items: center;
    background-color: white;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 5rem;
    margin: 0.25rem;
    padding: 0.25rem;
    text-align: flex-start;
    width: 100%;
}
/* generic bot slider */
.input-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.6em;
    margin-bottom: 0.6em;
    text-align: center;
    width: 100%;
}
.input-group input {
    display: flex;
    flex: 1 1 auto;
    max-width: 100%;
    min-width: 50%;
}
.input-group label {
    display: flex;
    flex: 1 1 auto;
    max-width: 50%;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 0.4rem; /* Height of the track */
    margin: 0.75rem 0;
    width: 100%;
    background: black; /* Black track */
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #9faee7; /* Fader color */
    cursor: pointer;
    height: 2rem; /* Height of the fader */
    width: 1rem; /* Width of the fader */
    border-radius: 0.2rem; /* Slightly rounded edges */
    border: 1px solid #666; /* Border for fader */
}
input[type="range"]::-moz-range-thumb {
    background: #9faee7;
    cursor: pointer;
    height: 2rem;
    width: 1rem;
    border-radius: 0.2rem;
    border: 1px solid #666;
}
.privacy-slider {
	width: 100%;
}
.slider {
	width: 100%;
}
.slider-labels {
    display: flex;
    justify-content: space-between;
	width: 100%;
}
.slider-labels span {
	text-align: center;
}
.toggle-switch {
    /* Styling for toggle switch */
	background-color: #ccc;
}
/* interests */
.checkbox-group {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    max-height: 25rem;
    overflow-y: auto;
    width: 100%;
}
.checkbox-group-item {
	align-items: center;
	display: flex;
    flex: 0 0 50%;
    overflow: hidden;
}
.checkbox-group-item input {
    cursor: pointer;
    flex: 0 0 auto;
    max-width: none;
    min-width: auto;
}
.checkbox-group-item label {
    flex: 1 0 auto;
    margin: 0;
    margin-left: 0.5rem;
    max-width: none;
    min-width: auto;
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    white-space: nowrap; /* Keep text on one line */

}
.interests {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.interests-label {
    font-weight: bold;
    min-width: fit-content;
}
/* keyframes */
@keyframes _scrollText {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}
@keyframes _slideBotOptions { /* @todo: make slide down from under status */
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes _statusBlink {
    0% { opacity: 0.7; }
    50% { opacity: 1; }
    100% { opacity: 0.7; }
}