/* css chat variables */
:root {
    --chat-base-z-index: calc(var(--mylife-base-z-index) + 10);
}
/* MyLife chat container */
.agent-bubble {
    background-color: rgba(0, 86, 179, .85); /* A darker shade of blue for the agent */
    color: #ffffff; /* White text for better readability */
    margin-left: 0;
}
.agent-bubble a {
	font-size: 1em;
    color: #dcb6ff; /* White text for better readability */
}
.await-button {
	align-self: center;
	background-color: #007BFF;
	border: aliceblue solid thin;
	border-radius: 0.3em;
	box-shadow: inset 7px 3px 6px 0px rgba(0, 0, 0, 0.3);
	color: #fff;
	cursor: not-allowed;
	display: none;
	font-size: 1em;
	padding: 0.5em 1em;
	margin: 0.5em;
}
.await-button-spinner {
	margin-right: 0.5em;
}
.chat-bubble {
    background-color: #3427ec; /* Assuming a dark bubble color */
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
    max-width: 90%;
    min-width: 30%;
    padding: 0.5rem 0.8rem;
    width: fit-content;
    word-wrap: break-word;
	z-index: calc(var(--chat-base-z-index) + 1);
}
.chat-container {
	align-items: flex-start;
	background-image: 
	linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.85) 0%,
			rgba(255, 255, 255, 0.85) 50%,
			rgba(66, 66, 66, 0.85) 100%
			), /* White overlay with 50% opacity */
			url('../jpg/cosmos.jpg'); /* Your original background image */
    background-size: cover; /* Ensures the image covers the whole area */
    background-position: center; /* Centers the image */
    border-radius: 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
    display: none;
	flex: 1 0 auto;
    flex-direction: column;
	height: auto;
	overflow: hidden;
    padding: 0 0.5em;
	position: relative;
	width: 100%;
}
.chat-copy,
.chat-feedback {
	cursor: pointer;
	font-size: 0.8rem;
	margin: 0.2rem;
	position: absolute;
	top: 0.2rem;
}
.chat-feedback {
	right: 0.6rem;
}
.chat-input {
	background-color: #ffffff; /* White background color */
    border: 1px solid #ccc; /* Border color */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
	display: flex;
    flex: 1 1 auto;
    font-size: 1em; /* Adjust font size */
    line-height: 1.25; /* Adjust line height for better readability */
    margin: 0 1em; /* Margin for space outside the container */
	min-height: 2rem;
	max-height: 50vh;
    overflow-x: hidden;
	overflow-y: auto; /* Allows vertical scrolling */
    padding: 0.3em; /* Padding for space inside the container */
    resize: none; /* Allows vertical resizing, none to disable */
}
.chat-member,
.chat-user {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0.5em 0;
	max-height: 60%;
	width: 100%;
}
.chat-message-container {
    display: flex;
    position: relative;
}
.chat-message-container-agent {
	flex-direction: row;
}
.chat-message-container-member {
	flex-direction: row-reverse;
}
.chat-message-tab {
    border-bottom-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
	display: flex;
    flex-direction: column;
	height: 100%;
	justify-content: flex-end;
    opacity: 0;
	padding: 0.2rem;
    pointer-events: none;
    transition: transform 0.5s, opacity 0.5s;
    width: 2.5rem;
	z-index: var(--chat-base-z-index);
}
.chat-message-tab-agent {
	align-items: flex-end;
	background-color: #9f9dff; /* Lighter shade of the bubble color */
	border: thin solid #3427ec;
	border-top-left-radius: 0;
    border-top-right-radius: 0.2rem;
	transform: translateX(-100%);
}
.chat-message-tab-hover {
	opacity: 1;
	pointer-events: all;
}
.chat-message-tab-hover-agent,
.chat-message-tab-agent:hover {
	transform: translateX(-33%); /* accommodate for 2.5rem */
}
.chat-message-tab-member {
	align-items: flex-start;
	background-color: #d6ffd9; /* Lighter shade of the bubble color */
	border: thin solid #27bbec;
	border-top-left-radius: 0.2rem;
    border-top-right-radius: 0;
	transform: translateX(100%);
}
.chat-message-tab-hover-member, /* **note**: must come after tab-member */
.chat-message-tab-member:hover {
	transform: translateX(33%); /* accommodate for 2.5rem */
}
.chat-refresh {
	position: absolute; /* Position relative to parent */
	top: 0; /* Adjust as needed */
	right: 0.3em; /* Adjust as needed */
	background-color: transparent; /* Transparent background */
	border: none; /* No border */
	color: #888; /* Icon color, change as needed */
	font-size: 24px; /* Icon size, adjust as needed */
	cursor: pointer; /* Pointer cursor on hover */
	z-index: calc(var(--chat-base-z-index) + 5);
}
/* chat-submit button; requires special treament to overwrite button class for now */
button.chat-submit { /* need specificity to overwrite button class */
	flex: 0 0 auto;
	color: rgba(65, 84, 104, 0.85);
	background-color: rgba(183, 203, 225, 0.85);
	margin: 0 0.5em;
	white-space: nowrap; /* Prevents text wrapping in the button */
}
button.chat-submit:hover {
	background-color: rgba(195, 203, 52, 0.85);
	color: #061320;
}
button.chat-submit:focus {
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 8px 2px rgba(255, 255, 0, 0.6); /* Yellow glow */
}
button.chat-submit:disabled {
	background-color: rgba(63, 75, 83, 0.2);
	border-color: rgba(146, 157, 163, .7);
	color: rgba(146, 157, 163, .9);
}
.chat-system {
	flex: 1 1 auto;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	margin-top: 0.8em;
	min-height: 30vh;
	overflow-x: hidden;
    overflow-y: scroll;
	width: 100%;
}
/* Styles the scrollbar itself */
.chat-system::-webkit-scrollbar,
.chat-input::-webkit-scrollbar {
    width: 6px; /* Adjust the width of the scrollbar */
}
/* Styles the track of the scrollbar */
.chat-system::-webkit-scrollbar-track,
.chat-input::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color of the track */
    border-radius: 10px; /* Optional: adds rounded corners to the track */
}
/* Styles the handle (thumb) of the scrollbar */
.chat-system::-webkit-scrollbar-thumb,
.chat-input::-webkit-scrollbar-thumb {
    background: rgba(232, 226, 183, .5); /* Color of the thumb */
    border-radius: 10px; /* Optional: adds rounded corners to the thumb */
}
/* Changes the color of the thumb when hovered over or clicked */
.chat-system::-webkit-scrollbar-thumb:hover,
.chat-input::-webkit-scrollbar-thumb:active {
    background: rgba(214, 198, 75, 0.5); /* Darker shade on hover */
}	
.help-bubble {
	animation: slideInFromBottom 0.5s ease-out;
}
.label {
	color: rgba(240, 240, 240, .9);
	flex: 0 0 auto;
	font-size: 24px;
	font-style: normal;
	font-stretch: condensed;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.label-spinner {
    position: absolute;
	background-color: whitesmoke;
    opacity: 0; /* Max opacity of 50% */
}
.label-spinner-container {
    display: flex;
	flex: 0 0 auto;
	margin: 0 0.5em;
	justify-content: flex-start;
}
.member-bubble, .user-bubble {
    background-color: rgba(225, 245, 254, 1); /* A light shade of blue for the user */
    color: #333333; /* Dark grey for contrast and easy reading */
	font-size: .75em;
}
.member-bubble a, .user-bubble a {
	color: #333333; /* Dark grey for contrast and easy reading */
}
.spinner-green-glow {
	background-image: radial-gradient(circle, #4b94a1, #d2f35e);
	filter: blur(.2em); /* Adjust the pixel value for the level of blur */
}
.spinner-blue {
	animation-delay: 0s;
	background-image: radial-gradient(circle, #4b7982, #74a2ff);
	filter: blur(.15em); /* Adjust the pixel value for the level of blur */
}
.spinner-grow {
    animation: spinner-grow 2.6s infinite ease-in-out;
	animation-delay: 2s;
    border-radius: 50%;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}
#response {
	margin-top: 1rem;
}
/* keyframes */
@keyframes spinner-grow {
	0% { transform: scale(0.5); }
	50% { transform: scale(1); }
	100% { transform: scale(0.5); }
  }