@import url('bot-bar.css');
@import url('chat.css');
@import url('experience.css');
@import url('members.css');
/* MyLife layout */
body {
	background-color: #000000;
	background-size: 1200px;
	background-repeat: no-repeat;
	background-position: top;
	display: flex;
	flex-direction: column;
	font-family: Arial, sans-serif;
	justify-items: flex-start;
	margin: 0 2em;
	max-width: 100%;
}
.page-container {
    display: flex;
    flex-direction: column; /* Change to row for horizontal layout */
	height: 100%;
	margin: 0;
	max-height: 100vh; /* Ensures the container grows to the full height */
	max-width: 100%;
	width: 100%; /* Ensures the container grows to the full width */
}
.page-column-collection {
	display: flex;
	flex-direction: row; /* Change to column for vertical layout */
	height: 100%;
	max-width: 100%;
	overflow: hidden; /* Critical for keeping the layout within the viewport */
	width: 100%;
}
/* MyLife Menu Navigation */
.navigation-container {
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 70%, rgba(0, 0, 100, 0.15) 100%);
	background-color: whitesmoke; /* Blue background color */
	border: 1px dotted rgba(0, 0, 139, 0.3);
	border-radius: 22px; /* Rounded corners */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
	box-sizing: border-box; /* Ensures padding and width stays within the border */
	display: none;
	justify-content: flex-start; /* Aligns items horizontally */
	/*margin-bottom: 0.5em; /* Bottom margin */
	padding: 0px;
	width: 100%; /* Full width */
}
.navbar-brand {
	color: #4CAF50; /* White text color */
	cursor: default; /* Set cursor to default */
	font-weight: bold;
	margin-right: 2em; /* Right margin on navbar brand */
}
.navbar-nav {
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.25) 60%,
		rgba(0, 0, 100, 0.15) 100%
	); /* Gradient from top (lighter) to bottom (slightly darker) with alpha */
    background-color: #f8f9fa; /* A light base color for the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
    border-radius: 10px; /* Rounded edges */
	display: flex; /* Aligns the flex item horizontally (default: row) */
	flex-direction: row; /* Aligns the flex item horizontally (default: row) */
	margin: 1em 0;
}
.navbar-nav:hover {
	border:rgba(53, 31, 53, 0.25) 1px solid;
	cursor: default;
}
.nav-link {
	margin: 0em .8em;
}
.nav-link.active {
    color: #007bff; /* Your existing styles for active link */
    font-weight: bold;
    cursor: pointer; /* Set cursor to default */
}
/* MyLife system alerts */
.alert-container{
	display: flex;
	flex-direction: column;
	margin: 0.1em 0;
}
.alert-box {
    width: 85%; /* Full width */
    display: flex;
    flex-direction: row; /* Stack alert elements horizontally */
    align-items: center;
	border-radius: 7px;
	border: rgba(0,0,0,.25) 2px solid;
	box-shadow: inset 4px 4px 2px 0px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}
.alert-content {
	align-items: stretch; /* Vertically center align items */
	/* animation: alertFadeOut 2s forwards; */
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
    color: rgba(0, 0, 0, 0.9);
	cursor: help;
    display: flex;
	font-size: clamp(10px, 2vw, 20px);
    justify-content: space-between;
    pointer-events: none;
	padding: 0.75vh 2vw;
    width: 100%; /* Each alert box takes the full width */
}
.alert-close {
    align-self: stretch;
	align-items: center;
    background-color: rgba(0, 0, 0, 0.15); /* Example different background color */
	border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
	display: flex;
    font-size: clamp(18px, 3vw, 26px); /* Adjust the min and max values as needed */
	justify-content: center;
	min-width: 5vh;
	opacity: 0.9;
	transition: opacity 0.3s, background-color 0.3s;
}
.alert-close:hover {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Example text shadow */
    opacity: 1; /* Full opacity */
    background-color: rgba(0, 0, 0, 0.35); /* Darkened background color */
}
.alert-hide {
	opacity: 0;
	display: none;
}
.alert-high {
	color: rgba(0, 0, 0, 0.8);
	background-color: rgba(255, 168, 162, 0.4); /* Red for error, can change based on alert type */
}
.alert-low {
	color: rgba(0, 0, 0, 0.8);
	background-color: rgba(31, 124, 163, 0.3); /* Red for error, can change based on alert type */
}
.alert-medium {
	color: rgba(0, 0, 0, 0.8);
}
.alert-show {
	display: flex;
	opacity: 1;
	animation: alertFadeIn 0.5s forwards;
}
/* MyLife main content */
.main-content {
    background: white; /* Assuming a card-like look typically has a white background */
    background-position: center; /* Centers the image in the area */
    background-size: cover; /* Ensures the image covers the whole area */
	border: rgb(0, 25, 51, .3) 2px dotted;
    border-radius: 22px;
	box-sizing: border-box;
	display: none;
	flex: 1 1 66%; /* Use flex to assign 66% of the space */
	height: auto;
	max-width: 100%;
	min-height: 50vh;
	min-width: 66%;
	overflow: hidden;
    padding: 0px;
}
.main-content h1 {
	padding: 3%;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	font-weight: lighter;
	font-family: 'Arial Narrow', sans-serif;
}
.main-content hr {
    border: none; /* Removes the default border */
    height: .5px; /* Sets the height of the horizontal rule */
    background-color: rgb(0, 25, 51, 1); /* Faint line color using RGBA for transparency */
    margin-left: 0%; /* Aligns with the start of the container */
    margin-right: 10%; /* Leaves space at the end of the container */
	margin-top: 2%;
	margin-bottom: 0%;
    width: auto; /* Takes the full available width minus margin */
}
.main-content h2 {
	font-size: 20px;
}
/* MyLife About, Privacy Policy */
.about-container, .privacy-container {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	margin: 1em;
}
.about-section, .privacy-section {
	display: flex;
	flex-direction: column;
	padding: .5em;
}
.about-section, .privacy-section h3 {
	border-bottom: thin solid navy;
	color: navy;
	display: flex;
}
/* MyLife Contribution Request */
.category-button {
    background-color: #f0f0f0; /* Neutral color */
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.category-button.active {
    background-color: #4CAF50; /* Active state color */
    color: white;
}
/* MyLife Signup Routine */
.bold {
	font-weight: bold;
}
.button {
	background-color: #007BFF; /* Default background color */
	color: #fff; /* Text color */
	margin: 12px;
	margin-bottom: 18px;
	border: 2px solid #061320; /* Blue border */
	border-radius: 12px; /* Rounded corners */
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
	font-weight: bold; /* Bold text */
	padding: 6px 12px; /* Adjust as needed */
	cursor: pointer; /* Cursor changes to pointer on hover */
	text-align: center; /* Center text */
}
.button:disabled {
    background-color: #CCCCCC; /* Lighter/Different background color for disabled state */
    color: #666666; /* Lighter/Different text color for disabled state */
    border: 2px solid #CCCCCC; /* Border color for disabled state */
    cursor: not-allowed; /* Cursor to indicate the button is not clickable */
    box-shadow: none; /* Optional: remove shadow for disabled state */
}
.button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    width: 100%; /* Ensures the container spans the full width */
}
.button-join {
    background-color: green; /* Default background color */
    color: #fff; /* Text color */
    border: 2px solid red; /* Red border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
    font-weight: bold; /* Bold text */
    padding: 10px 20px; /* Adjust as needed */
	margin: 0.5em;
    cursor: pointer; /* Cursor changes to pointer on hover */
    text-align: center; /* Center text */
}
.button-join:hover {
    background-color: darkslategray; /* Background color on hover */
}
.button-join:active {
    background-color: lightslategray; /* Background color when the button is clicked */
}
.content-transition {
    width: 100%; /* Adjust based on your design */
}
.fade {
	opacity: 0;
	display: none;
}
.hidden {
	transition: opacity 1s ease;
	opacity: 0;
	display: none; /* Initially not displayed */
}
.ital {
	font-style: italic;
}
.signup {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0em 1.05em 1.05em 1.05em;
}
/* MyLife sidebar */
.input {
	margin-top: 6px;
	text-align: left;
}
.input label {
	font-weight: bold;
	font-style: normal;
	font-stretch: condensed;
}
.input-container {
	background: linear-gradient(to right, rgba(94, 128, 191, 0.1), rgba(128, 0, 128, 0.1));
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px 12px;
	width: 100%;
	margin-top: 6px;
	margin-bottom: 16px;
	box-shadow: inset 1px 1px 3px rgba(94, 128, 191, 0.2), inset -1px -1px 3px rgba(128, 0, 128, 0.3);
}
.sidebar {
    background: white; /* Assuming a card-like look typically has a white background */
    background-position: center; /* Centers the image in the area */
    background-size: cover; /* Ensures the image covers the whole area */
	border: rgb(0, 25, 51, .3) 2px dotted;
    border-radius: 22px;
	display: none;
	flex: 0 0 33%; /* Use flex to assign 33% of the space */
	flex-direction: column;
	font-family: "Optima", "Segoe UI", "Candara", "Calibri", "Segoe", "Optima", Arial, sans-serif;
	font-size: 0.8em;
	height: fit-content; /* 100% will stretch to bottom */
	max-width: 33%;
    padding: 0px;
}
.sidebar-widget {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	margin: 0;
    max-width: 100%;
	padding: 0;
    width: 100%;
}
.teaser {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 6px;
	padding-bottom: 5px;
}
.teaser ul {
	list-style-type: square;
	margin-top: 6px;
	margin-bottom: 6px;
}
.teaser li {
	margin-left: 12px;
	margin-top: 6px;
}
.visible {
	opacity: 1;
	display: block;
}
.widget {
    align-items: center; /* rows get left-aligned */
	background-color: rgba(240, 248, 255, 1);
	border: 1px solid #666; /* Border color */
	border-radius: 12px; /* rounded corners */
    display: flex;
    flex-direction: column;
    min-height: 100px; /* Adjust based on your content */
	width: 100%;
}
.widget .header {
    background-color: #333; /* Black background */
    color: #fff; /* White text */
    padding: 10px; /* Padding inside the header */
    font-size: 1.2em; /* Adjust the text size as needed */
    text-align: center; /* Center the text */
    border-radius: 12px 12px 0 0; /* Rounded top corners, flat bottom */
    margin: 0; /* No margin to ensure it meets the container's edges */
	margin-top: 1em;
    width: 100%; /* Full width of the container */
}
/* MyLife error handling */
.error {
    border-color: red;
}

.error-message {
    color: red;
	font-weight: bold;
    margin-bottom: 10px;
}
/* others */
.selected {
	background-color: #ffc107;
	color: #fff;
}
.btn-hover-gray:hover {
	background-color: #dcdcdc;
}
.card {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
	padding: 1rem;
	margin: 1rem;
}
.loading {
	display: none;
	font-size: 24px;
	color: #6c757d;
	text-align: center;
}
.mylife-widget {
	align-items: flex-start;
	display: flex;
	width: 100%;
}
/* MyLife header */
#header {
    background-color: #007BFF;
    padding: 0.5rem;
    color: white;
}
.header-text {
    font-weight: bold;
}
/* keyframes */
@keyframes alertFadeOut {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
/* media queries */
@media screen and (min-width: 1024px) {
    body {
        margin-right: 3em; /* Increased margin for larger screens */
        max-width: 1024px; /* Set a max-width to center the content */
        margin-left: auto; /* Center the body horizontally */
        margin-right: auto;
    }
}
@media screen and (max-width: 768px) { /* Adjust the max-width as needed */
    .page-column-collection {
        flex-direction: column;
    }
	.main-content {
		max-width: 100%;
	}
	.sidebar {
		flex-basis: 100%;
		max-width: 100%;
	}
}