/* MyLife layout */
body {
	/* background-image: url('../jpg/MyLife_two_seeds.jpg'); */
	align-items: center;
	background-color: #f5f5f5;
	background-size: 1200px;
	background-repeat: no-repeat;
	background-position: top;
	display: flex;
	flex-direction: column;
	font-family: Arial, sans-serif;
	justify-content: center;
	margin: 1.5em;
	max-width: 100%;
	min-height: 65vh;
}
.flex-container {
    display: flex;
    flex-direction: column; /* Or row, depending on your layout */
    flex-wrap: wrap;
	height: 100vh; /* 100% of the viewport height */
    gap: 12px;
}
.page-container {
    display: flex;
    flex-direction: column; /* Change to row for horizontal layout */
	margin: 0 auto; /* Center the content */
	width: 100%; /* Ensures the container grows to the full width */
	max-width: 100%;
}
.page-column-collection {
	display: flex;
	flex-direction: row; /* Change to column for vertical layout */
	width: 100%;
	gap: 12px;
	max-height: 100vh;
}
/* MyLife Menu Navigation */
.navbar {
	background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25) 70%, rgba(0, 0, 100, 0.15) 100%);
	background-color: whitesmoke; /* Blue background color */
/*	border: #111 12px double; */
	border: 1px dotted rgba(0, 0, 139, 0.3);
	border-radius: 22px; /* Rounded corners */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
	box-sizing: border-box; /* Ensures padding and width stays within the border */
	justify-content: flex-start; /* Aligns items horizontally */
	margin-bottom: 12px; /* Bottom margin */
	padding: 0px;
	width: 100%; /* Full width */
}
.navbar-brand {
	color: #4CAF50; /* White text color */
	cursor: default; /* Set cursor to default */
	font-weight: bold;
	margin-right: 24px; /* Right margin on navbar brand */
}
.navbar-brand:hover {
	color: #4CAF50; /* White text color */
	margin-right: 24px; /* Right margin on navbar brand */
	font-weight: bold;
	cursor: default; /* Set cursor to default */
}
.navbar-nav {
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.25) 60%,
		rgba(0, 0, 100, 0.15) 100%
	); /* Gradient from top (lighter) to bottom (slightly darker) with alpha */
    background-color: #f8f9fa; /* A light base color for the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
    border-radius: 10px; /* Rounded edges */
	display: flex; /* Aligns the flex item horizontally (default: row) */
	flex-direction: row; /* Aligns the flex item horizontally (default: row) */
	margin-top: 1.5em;
}
.navbar-nav:hover {
	border:rgba(53, 31, 53, 0.25) 1px solid;
	cursor: default;
}
.nav-link {
	margin: 0em .8em;
}
.nav-link.active {
    color: #007bff; /* Your existing styles for active link */
    font-weight: bold;
    cursor: default; /* Set cursor to default */
}
/* MyLife main content */
.main-content {
    background: white; /* Assuming a card-like look typically has a white background */
    background-position: center; /* Centers the image in the area */
    background-size: cover; /* Ensures the image covers the whole area */
	border: rgb(0, 25, 51, .3) 2px dotted;
    border-radius: 22px;
	box-sizing: border-box;
	flex-basis: 65%;
	flex-grow: 1; /* Takes up the remaining space */
	height: fit-content;
    padding: 0px; /* Adds space inside the container */
	position: relative; /* Needed to position pseudo-elements or child divs */
}
.main-content h1 {
	padding: 3%;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	font-weight: lighter;
	font-family: 'Arial Narrow', sans-serif;
}
.main-content hr {
    border: none; /* Removes the default border */
    height: .5px; /* Sets the height of the horizontal rule */
    background-color: rgb(0, 25, 51, 1); /* Faint line color using RGBA for transparency */
    margin-left: 0%; /* Aligns with the start of the container */
    margin-right: 10%; /* Leaves space at the end of the container */
	margin-top: 2%;
	margin-bottom: 0%;
    width: auto; /* Takes the full available width minus margin */
}
.main-content h2 {
	font-size: 20px;
}
/* MyLife chat container */
.agent-bubble {
    background-color: rgba(0, 86, 179, .85); /* A darker shade of blue for the agent */
    color: #ffffff; /* White text for better readability */
    margin-left: 0;
}
.button.chat-submit {
	flex: 0 0 auto;
	color: rgba(65, 84, 104, 0.85);
	background-color: rgba(183, 203, 225, 0.85);
	margin: 0px;
	white-space: nowrap; /* Prevents text wrapping in the button */
}
.button.chat-submit:hover {
	background-color: rgba(195, 203, 52, 0.85);
	color: #061320;
}
.button.chat-submit:focus {
    outline: none; /* Remove the default focus outline */
    box-shadow: 0 0 8px 2px rgba(255, 255, 0, 0.6); /* Yellow glow */
}
.button.chat-submit:disabled {
	background-color: rgba(63, 75, 83, 0.2);
	border-color: rgba(146, 157, 163, .7);
	color: rgba(146, 157, 163, .9);
}
.chat-bubble {
    border-radius: 18px; /* Rounded corners for a modern look */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    margin-bottom: 0.5rem;
    max-width: 80%;
    min-width: 30%;
    padding: 10px 15px; /* Padding for content inside bubble */
	font-size: .9em;
    width: fit-content; /* Fit the content's width */
    word-wrap: break-word; /* Ensure long words don't overflow */
}
.chat-container {
	background-image: 
        linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.85) 0%,
			rgba(255, 255, 255, 0.85) 50%,
			rgba(66, 66, 66, 0.85) 100%
		), /* White overlay with 50% opacity */
        url('../jpg/cosmos.jpg'); /* Your original background image */
    background-size: cover; /* Ensures the image covers the whole area */
    background-position: center; /* Centers the image */
    border-radius: 0 0 22px 22px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
    display: flex;
    flex-direction: column;
	height: fit-content;
	justify-content: space-between;
	min-height: 50vh;
    max-height: 80vh;
	overflow: visible;
    padding: 13px;
	position: relative;
}
.chat-input {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: right;
	margin-top: 1rem;
	overflow: visible;
}
.chat-input input {
	background-color: #ffffff; /* White background color */
	border-radius: 12px; /* Rounded corners */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
	flex: 1;
	margin: 6px 12px; /* Margin for space outside the container */
	padding: 8px; /* Padding for space inside the container */
}
.chat-input textarea {
    background-color: #ffffff; /* White background color */
    border: 1px solid #ccc; /* Border color */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    flex: 1;
	flex-shrink: 0;
    font-size: 1rem; /* Adjust font size */
    line-height: 1.5; /* Adjust line height for better readability */
	min-height: 100%;
	/* max-height: 200px; /* Adjust this value as needed */
    margin: 6px 12px; /* Margin for space outside the container */
    overflow-y: auto; /* Adds a scrollbar when content exceeds max-height */
    padding: 8px; /* Padding for space inside the container */
    resize: vertical; /* Allows vertical resizing, none to disable */
}
/* Styling the scrollbar track */
.chat-input textarea::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); /* Track background color */
    border-radius: 1%; /* Rounded corners for the track */
}
/* Styling the scrollbar handle */
.chat-input textarea::-webkit-scrollbar-thumb {
    background-color: #e3a274; /* Handle color */
    border-radius: 10px; /* Rounded corners for the handle */
}
/* Styling the scrollbar handle on hover */
.chat-input textarea::-webkit-scrollbar-thumb:hover {
    background-color: #15a211; /* Darker color on hover */
}
/* Styling the scrollbar width */
.chat-input textarea::-webkit-scrollbar {
	background-color: rgba(255, 255, 255, 0.8); /* Track background color */
    width: 12px; /* Width of the scrollbar */
}
.chat-output {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-wrap: nowrap;
	justify-content: flex-start;
	max-height: fit-content;
	overflow-x: hidden;
    overflow-y: scroll;
}
/* Styles the scrollbar itself */
.chat-output::-webkit-scrollbar {
    width: 6px; /* Adjust the width of the scrollbar */
}
/* Styles the track of the scrollbar */
.chat-output::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Color of the track */
    border-radius: 10px; /* Optional: adds rounded corners to the track */
}
/* Styles the handle (thumb) of the scrollbar */
.chat-output::-webkit-scrollbar-thumb {
    background: rgba(232, 226, 183, .5); /* Color of the thumb */
    border-radius: 10px; /* Optional: adds rounded corners to the thumb */
}
/* Changes the color of the thumb when hovered over or clicked */
.chat-output::-webkit-scrollbar-thumb:hover {
    background: rgba(214, 198, 75, 0.5); /* Darker shade on hover */
}
.label {
	color: rgba(240, 240, 240, .9);
	flex: 0 0 auto;
	font-size: 24px;
	font-style: normal;
	font-stretch: condensed;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
	transition: visibility 0s, opacity 0.7s linear;
}
.label-spinner {
    position: absolute;
	background-color: whitesmoke;
    opacity: 0; /* Max opacity of 50% */
}
.label-spinner-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Center contents horizontally */
    min-height: 50px; /* Ensure enough height for spinner and label */
}
.member-bubble, .user-bubble {
    background-color: rgba(225, 245, 254, 1); /* A light shade of blue for the user */
    color: #333333; /* Dark grey for contrast and easy reading */
    margin-left: auto;
	margin-right: 12px;
}
#message {
	margin-right: 0.5rem;
}
.spinner-green-glow {
	background-image: radial-gradient(circle, #4b94a1, #d2f35e);
	filter: blur(.2em); /* Adjust the pixel value for the level of blur */
}
.spinner-blue {
	animation-delay: 0s;
	background-image: radial-gradient(circle, #4b7982, #74a2ff);
	filter: blur(.15em); /* Adjust the pixel value for the level of blur */
}
.spinner-grow {
    animation: spinner-grow 2.6s infinite ease-in-out;
	animation-delay: 2s;
    border-radius: 50%;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}
#response {
	margin-top: 1rem;
}
/* MyLife Contribution Request */
.category-button {
    background-color: #f0f0f0; /* Neutral color */
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.category-button.active {
    background-color: #4CAF50; /* Active state color */
    color: white;
}
/* MyLife Signup Routine */
.bold {
	font-weight: bold;
}
.button {
	background-color: #007BFF; /* Default background color */
	color: #fff; /* Text color */
	margin: 12px;
	margin-bottom: 18px;
	border: 2px solid #061320; /* Blue border */
	border-radius: 12px; /* Rounded corners */
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
	font-weight: bold; /* Bold text */
	padding: 6px 12px; /* Adjust as needed */
	cursor: pointer; /* Cursor changes to pointer on hover */
	text-align: center; /* Center text */
}
.button:disabled {
    background-color: #CCCCCC; /* Lighter/Different background color for disabled state */
    color: #666666; /* Lighter/Different text color for disabled state */
    border: 2px solid #CCCCCC; /* Border color for disabled state */
    cursor: not-allowed; /* Cursor to indicate the button is not clickable */
    box-shadow: none; /* Optional: remove shadow for disabled state */
}
.button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    width: 100%; /* Ensures the container spans the full width */
}
.button-join {
    background-color: green; /* Default background color */
    color: #fff; /* Text color */
    border: 2px solid red; /* Red border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Drop shadow */
    font-weight: bold; /* Bold text */
    padding: 10px 20px; /* Adjust as needed */
	margin: 0.5em;
    cursor: pointer; /* Cursor changes to pointer on hover */
    text-align: center; /* Center text */
}
.button-join:hover {
    background-color: darkslategray; /* Background color on hover */
}
.button-join:active {
    background-color: lightslategray; /* Background color when the button is clicked */
}
.content-transition {
    width: 100%; /* Adjust based on your design */
}
.fade {
	opacity: 0;
	display: none;
}
.hidden {
	transition: opacity 1s ease;
	opacity: 0;
	display: none; /* Initially not displayed */
}
.ital {
	font-style: italic;
}
.signup {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0em 1.05em 1.05em 1.05em;
}
/* MyLife sidebar */
.input {
	margin-top: 6px;
	text-align: left;
}
.input label {
	font-weight: bold;
	font-style: normal;
	font-stretch: condensed;
}
.input-container {
	background: linear-gradient(to right, rgba(94, 128, 191, 0.1), rgba(128, 0, 128, 0.1));
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px 12px;
	width: 100%;
	margin-top: 6px;
	margin-bottom: 16px;
	box-shadow: inset 1px 1px 3px rgba(94, 128, 191, 0.2), inset -1px -1px 3px rgba(128, 0, 128, 0.3);
}
.sidebar {
    background: white; /* Assuming a card-like look typically has a white background */
    background-position: center; /* Centers the image in the area */
    background-size: cover; /* Ensures the image covers the whole area */
	border: rgb(0, 25, 51, .3) 2px dotted;
    border-radius: 22px;
	box-sizing: border-box;
	color: #221a30;
	flex-basis: 35%;
	font-family: "Optima", "Segoe UI", "Candara", "Calibri", "Segoe", "Optima", Arial, sans-serif;
	font-size: 0.8em;
	padding: 1em;
}
.teaser {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 6px;
	padding-bottom: 5px;
}
.teaser ul {
	list-style-type: square;
	margin-top: 6px;
	margin-bottom: 6px;
}
.teaser li {
	margin-left: 12px;
	margin-top: 6px;
}
.visible {
	opacity: 1;
	display: block;
}
.widget {
    align-items: center; /* rows get left-aligned */
	background-color: rgba(240, 248, 255, 1);
	border: 1px solid #666; /* Border color */
	border-radius: 12px; /* rounded corners */
    display: flex;
    flex-direction: column;
    min-height: 100px; /* Adjust based on your content */
	width: 100%;
}
.widget .header {
    background-color: #333; /* Black background */
    color: #fff; /* White text */
    padding: 10px; /* Padding inside the header */
    font-size: 1.2em; /* Adjust the text size as needed */
    text-align: center; /* Center the text */
    border-radius: 12px 12px 0 0; /* Rounded top corners, flat bottom */
    margin: 0; /* No margin to ensure it meets the container's edges */
    width: 100%; /* Full width of the container */
}
/* Avatars */
/* Avatar detail listing */
.avatar-detail {
	color: #444;
	font-family: 'Courier New', Courier, monospace;
}
.avatar-detail-label {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
	color: #5c4a7f;
}
.avatar-detail-name {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.5rem;
}
.avatar-listing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 12px;
}
.avatars-listing {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
/* MyLife error handling */
.error {
    border-color: red;
}

.error-message {
    color: red;
	font-weight: bold;
    margin-bottom: 10px;
}
/* others */
.selected {
	background-color: #ffc107;
	color: #fff;
}
.btn-hover-gray:hover {
	background-color: #dcdcdc;
}
.card {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
	padding: 1rem;
	margin: 1rem;
}
.loading {
	display: none;
	font-size: 24px;
	color: #6c757d;
	text-align: center;
}
.mylife-widget {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/* MyLife header */
#header {
    background-color: #007BFF;
    padding: 0.5rem;
    color: white;
}
.header-text {
    font-weight: bold;
}
/* media queries */
@media screen and (min-width: 1024px) {
    body {
        margin-right: 3em; /* Increased margin for larger screens */
        max-width: 1024px; /* Set a max-width to center the content */
        margin-left: auto; /* Center the body horizontally */
        margin-right: auto;
    }
}
@media screen and (max-width: 768px) { /* Adjust the max-width as needed */
    .page-column-collection {
        flex-direction: column;
    }
	.main-content {
		max-width: 100%;
	}
	.sidebar {
		flex-basis: 100%;
	}
}