<section id="about-container" class="about-container">
	<section id="about-history" class="about-history about-section">
		<h3>Our History</h3>
		<p>MyLife, founded in 2021 in Massachusetts, USA, embarked on a mission to preserve digital legacies. Our objective is to provide a durable, enduring internet-enabled platform for individuals to collect, curate, and share personal media and information in perpetuity. As a legally recognized nonprofit organization in the United States, we're poised to be a trusted humanist platform for digital memorialization and personal storytelling.</p>
	</section>
	<section id="about-people" class="about-people about-section">
		<h3>Our People</h3>
		<p>Guiding MyLife is a board of dedicated individuals: 
			<ul>
				<li>Erik Jespersen, <em>President and Treasurer</em></li>
				<li>Kenneth Williams, <em>Vice-President</em></li>
				<li>Stephen Kenney, <em>Technology Director</em></li>
				<li>Samuel Collins, <em>Secretary</em></li>
				<li>Emily Coolidge-Toker, <em>Director</em></li>
				<li>Russ Olivier, <em>Director</em></li>
			</ul>
		Their diverse expertise in web development, strategic marketing, and non-profit management drives our mission forward.</p>
	</section>
	<section id="about-concepts" class="about-concepts about-section">
		<h3>Our Concepts</h3>
		<p>MyLife is grounded in the values of digital dignity, equality, and security. We are committed to providing an AI-superintelligent platform that is accessible to all humans globally. Our goal is to be a personal and private space on the internet where members can develop themselves and represent their digital selves safely.</p>
	</section>
	<section id="about-products-services" class="about-products-services about-section">
		<h3>Products/Services</h3>
		<p>MyLife offers an array of member services focusing on the capture, curation, and storage of personal media. Our key product <b>is</b> the MyLife platform for personal avatars to embody and showcase materials and memorials. We also provide trusted partner API access and initiatives to connect students with posterity archiving. Our commitment extends to supporting artistic, technical, and educational projects aligned with our mission.</p>
		<p>While you will find the most current info with Q, you can take a look at one of our <a href="./assets/pdf/MyLife_Summary.pdf">original outreach artifacts here</a>.</p>
	</section>
	<section id="about-privacy-policy" class="about-privacy-policy about-section">
		<h3>Privacy Policy</h3>
		<p><a href="privacy-policy">View our evolving privacy policy</a>.</p>
	</section>
	<section id="about-contact" class="avout-contact about-section">
		<h3>Contact</h3>
		<p>To learn more about MyLife, chat with Q, but we are eager to assist you with any inquiries and provide further information about our services, currently in alpha. Email the President, Erik Jespersen at: mylife.president[at]gmail.com</p>
	</section>
</section>