<div class="container">
	<% include assets/html/_boardButtons %>
	<form id="chat-form">
		<label for="message">Message:</label>
		<textarea id="message" name="message" required class="form-control"></textarea>
		<button id="submit" type="submit" class="btn btn-primary mt-2">Submit</button>
		<button id="await" name="await" class="btn btn-primary" type="button" disabled>
			<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
			Connecting with <%= member.agentName %>...
		</button>
	</form>
	<div id="response"></div>
</div>
<script>
	// set vars and constants
	const awaitButton = document.getElementById('await');
	const chatForm = document.getElementById('chat-form');
	const messageInput = document.getElementById('message');
	const responseDiv = document.getElementById('response');
	const submitButton = document.getElementById('submit');
	awaitButton.style.display = 'none';
	// event listeners
	submitButton.addEventListener('click', (event) => {
		submit(event);
	});
	// page functions
	async function submit(event) {
		if (!messageInput.value) return alert('Please enter text to start chat!');
		event.preventDefault();
		submitButton.style.display = 'none';
		awaitButton.style.display = 'block';
		const url = window.location.origin + '/board'
		const options = {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify({ message: messageInput.value }),
		};
		const _gptChat = await submitChat(url, options);
		responseDiv.innerHTML = _gptChat.answer;
		awaitButton.style.display = 'none';
		submitButton.style.display = 'block';
	}
	async function submitChat(url, options) {
		try {
			const response = await fetch(url, options);
			console.log('fetched response', response);
			const jsonResponse = await response.json();
			return jsonResponse;
		} catch (err) {
			console.log('fatal error', err);
			return alert(`Error: ${err.message}`);
		}
	}
</script>