<!DOCTYPE HTML>
<html>
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <div id="page-wrapper">
      <section id="header">
        <img src="images/C4RG-header-white-background.jpeg" alt="Citizens for Rational Government" />
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="mission.html">What We Believe</a></li>
                <li class="current"><a>Candidates We Prefer</a></li>
                <li><a href="majoritarian.html">The Majoritarian Candidate</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="https://www.zeffy.com/en-US/donation-form/donate-to-help-us-bring-rational-politics-back"
                      id="donateLink"
                      class="donate-link"
                      rel="noopener">Donate
                    </a>
                </li>
            </ul>
        </nav>
      </section>
      <section id="main">
        <div class="container">
          <p>
            Below is a list of select 2026 Texas Primary Races where we feel extremists candidates are running, and the best non-extremist choice in our opinion. Blank fields or missing races mean we don't believe a non-extremist choice is available OR that no candidate in the race is considered extremist in our opinion.
          </p>
          <p>
            We are starting with Texas  2026 primary races as that is where we are based, but plan to expand these lists out nationwide in the future.
          </p>
          <p>
            Note we are not advocating any of the policies these candidates represent, but are simply trying to focus on their predicted methods and style of governance, favoring ones who oppose strict adherance to exteme ideologies or vocal bases.
          </p>
        </div>
        <div class="container">
          <table>
            <thead>
              <tr>
                <th colspan="3">Recommendations from Citizens for Rational Government</th>
              </tr>
              <tr>
                <th>Office</th>
                <th class="republican">Republican</th>
                <th class="democrat">Democrat</th>
              </tr>
            </thead>
            <tbody>
              <tr class="blue">
                <td>US Senator</td>
                <td><a href="https://www.johncornyn.com/" target="candidate">John Cornyn</a></td>
                <td><a href="https://www.jamestalarico.com" target="candidate">James Talarico</a></td>
              </tr>
              <tr class="blue">
                <td>Texas Governor</td><td></td><td><a href="https://www.chrisbellfortexas.com" target="candidate">Chris Bell</a></td>
              </tr>
              <tr class="blue">
                <td>Texas Lt Governor</td>
                <td><a href="https://collierfortexas.com/" target="candidate">Mike Collier (Independent)</a></td>
                <td></td>
              </tr>
              <tr class="blue">
                <td>Texas Attorney General</td>
                <td><a href="https://www.joanhuffman.com/" target="candidate">Joan Huffman</a></td>
                <td><a href="https://senatornathanjohnson.com/" target="candidate">Nathan Johnson</a>&mdash;or&mdash;<a href="https://www.jaworskifortexas.com/" target="candidate">Joe Jowarski</a></td>
              </tr>
              <tr class="blue">
                <td>State Comptroller</td>
                <td><a href="https://www.kellyhancock.com/" target="candidate">Kelly Hancock</a></td>
                <td></td>
              </tr>
              <tr class="blue">
                <td>Railroad Commissioner</td>
                <td><a href="https://wrightfortexas.com/" target="candidate">Jim Wright</a></td>
                <td></td>
              </tr>
              <tr class="blue">
                <td>Chief Justice Supreme Court</td>
                <td></td>
                <td><a href="https://carlyle4justice.com/" target="candidate">Cory Carlyle</a></td>
              </tr>
              <tr class="blue">
                <td>Court of Criminal Appeals Place 3</td>
                <td><a href="https://foxforjudge.com/" target="candidate">Alison Fox</a>&mdash;or&mdash;<a href="https://lesliforjudge.com/" target="candidate">Leslie Fitzpatrick</a></td>
                <td></td>
              </tr>
              <tr class="blue">
                <td>State Board of Education District 2</td>
                <td><a href="https://www.victoriafortexas.org/" target="candidate">Victoria Hinojosa</a></td>
                <td></td>
              </tr>
              <tr class="blue">
                <td>State Board of Education District 5</td>
                <td></td>
                <td><a href="https://www.victorsampson.org/" target="candidate">Victor Sampson</a></td>
              </tr>
              <tr class="blue">
                <td>State Board of Education District 6</td>
                <td><a href="https://barbaradenson4texas.com/" target="candidate">Barbara Denson</a></td>
                <td></td>
              </tr>
              <tr class="blue">
                <td>State Board of Education District 7</td>
                <td></td>
                <td><a href="https://www.linkedin.com/in/debra-drake-ambroise-b3a066161" target="candidate">Debra Ambroise</a></td>
              </tr>
              <tr class="blue">
                <td>State Board of Education District 8</td>
                <td></td>
                <td><a href="https://www.facebook.com/profile.php?id=61583130366695" target="candidate">Dana Van De Walker</a></td>
              </tr>
              <tr class="blue">
                <td>State Board of Education District 9</td>
                <td>Stephen Yearout</td>
                <td></td>
              </tr>
              <tr class="blue">
                <td>State Board of Education District 14</td>
                <td><a href="https://www.facebook.com/malagutifor14/" target="candidate">Christine Malaguti</a></td>
                <td></td>
              </tr>
              <tr class="green">
                <td>US House District 2</td>
                <td><a href="https://www.crenshawforcongress.com/" target="candidate">Dan Crenshaw</a></td>
                <td></td>
              </tr>
              <tr class="green">
                <td>US House District 3</td>
                <td><a href="https://keithself.com/" target="candidate">Keith Self</a></td>
                <td></td>
              </tr>
              <tr class="green">
                <td>US House District 6</td>
                <td><a href="https://ellzeyfortexas.com/" target="candidate">Jake Ellzey</a></td>
                <td></td>
              </tr>
              <tr class="green">
                <td>US House District 18</td>
                <td></td>
                <td><a href="https://www.algreenforcongress.com/" target="candidate">Al Green</a></td>
              </tr>
              <tr class="green">
                <td>US House District 23</td>
                <td><a href="https://gonzales.house.gov/" target="candidate">Tony Gonzales</a></td>
                <td></td>
              </tr>
              <tr class="green">
                <td>US House District 33</td>
                <td></td>
                <td><a href="https://colinallred.com/" target="candidate">Colin Allred</a></td>
              </tr>
              <tr class="green">
                <td>US House District 36</td>
                <td><a href="https://www.babinforcongress.com/" target="candidate">Brian Babin</a></td>
                <td></td>
              </tr>
              <tr class="green">
                <td>US House District 37</td>
                <td></td>
                <td><a href="https://www.flehartyforcongress.com/" target="candidate">Esther Fleharty</a></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 1</td>
                <td><a href="https://www.joshbrayfortexas.com/" target="candidate">Josh Bray</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 3</td>
                <td><a href="https://cecilbelljr.org/" target="candidate">Cecil Bell</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 7</td>
                <td><a href="https://www.jaydeanfortexas.com/" target="candidate">Jay Dean</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 8</td>
                <td><a href="https://www.house.texas.gov/members/3580" target="candidate">Cody Harris</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 13</td>
                <td><a href="https://www.angeliaorr.com/" target="candidate">Angela Orr</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 16</td>
                <td><a href="https://www.willmetcalf.com/" target="candidate">Will Metcalf</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 17</td>
                <td><a href="https://stangerdes.com/" target="candidate">Stan Gerdes</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 21</td>
                <td><a href="https://raycallasfortexas.com/" target="candidate">Ray Callas</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 67</td>
                <td><a href='https://jeffleach.com/' target="candidate">Jeff Leach</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 108</td>
                <td><a href="https://morganmeyerfortexas.com/" target="candidate">Morgan Myer</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 112</td>
                <td><a href="https://angiechenbutton.com/" target="candidate">Angie Chen Button</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 117</td>
                <td></td>
                <td><a href="https://house.texas.gov/members/2365" target="candidate">Philip Cortez</a></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 119</td>
                <td></td>
                <td><a href="https://www.lizcampos.com/" target="candidate">Liz Campos</a></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 120</td>
                <td></td>
                <td><a href="https://www.house.texas.gov/members/3445" target="candidate">Barbara Gervin-Hawkins</a></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 121</td>
                <td><a href="https://www.mcarthurfortexas.com/" target="candidate">David McArthur</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 122</td>
                <td><a href="https://www.williefortexas.com/" target="candidate">Willie Vasquez Ng</a></td>
                <td></td>
              </tr>
              <tr class="yellow">
                <td>Texas House District 142</td>
                <td></td>
                <td><a href="https://house.texas.gov/members/2650/biography" target="candidate">Harold Dutton</a></td>
              </tr>
              <tr class="magenta">
                <td>Texas Senate District 3</td>
                <td><a href="https://www.trentashby.com/" target="candidate">Trent Ashby</a></td>
                <td></td>
              </tr>
              <tr class="magenta">
                <td>Texas Senate District 21</td>
                <td></td>
                <td><a href="https://judithzaffirini.com/" target="candidate">Judith Zaffirini</a></td>
              </tr>
              <tr class="magenta">
                <td>Texas Senate District 22</td>
                <td><a href="https://gimblefortexas.com/" target="candidate">Jon Gimble</a></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <!-- Footer -->
      <section id="footer"></section>
    </div> <!-- /page-wrapper -->
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/footer.js"></script>
    <!-- Donate popup include -->
    <script src="assets/js/donate-popup.js"></script>
  </body>
</html>
