<div class="container">
    <!-- row 1 -->
    <div class="row">
        <!-- column 1 -->
        <div class="col-4 col-4-medium col-12-small">
            <section>
                <ul class="social">
                    <li>
                    <a class="icon brands fa-facebook-f"
                        href="https://facebook.com/profile.php?id=61585845333597"
                        target="_blank"
                        rel="noopener">
                        <span class="label">Facebook</span>
                    </a>
                    </li>
                </ul>
            </section>
        </div>
        <!-- column 2 -->
        <div class="col-4 col-4-medium col-12-small">
            <section>
                <p>
                    Citizens for Rational Government<br />
                    2310 North Henderson Ave, Ste B1271<br />
                    Dallas, TX 75206
                </p>
                <p>
                    Section 527 Organization<br />
                    Texas Ethics Commission Filer ID:  00090583
                </p>
            </section>
        </div>
        <!-- column 3 -->
        <div class="col-4 col-4-medium col-12-small">
            <section>
                <h3>Contact Us:</h3>
                <p>
                    <a href="mailto:info@citizensforrationalgovernment.org?subject=User%20Contact%20From%20Site&body=Your%20message...">
                    info@citizensforrationalgovernment.org
                    </a>
                </p>
            </section>
        </div>
    </div>
    <!-- row 2 -->
    <div class="row" id="copyright">
        <div class="col-12">
            <ul class="links">
                <li>&copy; Citizens for Rational Government. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </div>
</div><!-- /container -->