<!-- Nav -->
<img src="images/C4RG-header-white-background.jpeg" alt="Citizens for Rational Government Logo" />
<nav id="nav">
    <ul>
        <li><a href="index.html">Home</a></li><!-- current page: <li class="current"> -->
        <li><a href="mission.html">What We Believe</a></li>
        <li><a href="candidates.html">Candidates We Prefer</a></li>
        <li><a href="majoritarian.html">The Majoritarian Candidate</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="https://www.zeffy.com/en-US/donation-form/donate-to-help-us-bring-rational-politics-back"
                id="donateLink"
                class="donate-link"
                rel="noopener">Donate
            </a>
        </li>
    </ul>
</nav>