<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script async src="assets/js/tracking.js"></script>
    <script defer src="assets/js/loader.js"></script>
  </head>
  <body class="homepage is-loading">
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1648971006194004&ev=PageView&noscript=1" />
      <style>
        body.is-loading {
          opacity: 1 !important;
        }
      </style>
    </noscript>
    <div id="page-wrapper">
      <section id="header"></section>
      <section id="main">
        <div class="container">
          <img src="images/homepage-vote-in-primary.jpeg" alt="Banner" /><br />
        </div>
        <div class="container">
            <p>
              We think the radicalized direction of the country in the early-21st-century is unsustainable, unless the majority of Americans speak up and demand change&mdash;use this site to start demanding changes
            </p>
            <h3>
              What You Can Do On This Site
            </h3>
            <p>
              <ul class="left">
                <li>Dive <b>DEEP</b> into our philosophy and see what we are doing to further our mission</li>
                <li>See who we endorse in <b>BOTH POLITICAL PARTIES</b> in upcoming Primaries and General Elections. These candidates may not reflect all of your political values or priorities, but in our opinion they are rational in their decision making and do not take the extreme positions of their party just to get attention or rile up their base</li>
                <li>Discuss and Debate with our <b>MAJORITARIAN CANDIDATE</b>, an AI bot trained on the major issues facing America with a focus on rational and actionable platform positions that data shows the majority of Americans support! See what a truly independent candidate could do for our country</li>
                <li><a href="mailto:info@citizensforrationalgovernment.org?subject=User%20Contact%20From%20Site&body=Your%20message...">Send us an email</a> to ask us a question or receive additional information on our activities in the future</li>
                <li><a href="https://www.votetexas.gov/register-to-vote/" target="_blank" rel="noopener">Register here to vote</a> in Texas primaries</li>
                <li><a href="https://www.zeffy.com/en-US/donation-form/donate-to-help-us-bring-rational-politics-back?impact_chain_source=russolivier2%40gmai.com">Donate to Citizens for Rational Government</a> to help us educate and prepare the public to fight extremism at the ballot box</li>
              </ul>
            </p>
        </div>
      </section>
      <!-- footer -->
      <section id="footer"></section>
    </div><!-- page-wrapper -->
  </body>
</html>
