<!DOCTYPE HTML>
<html>
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body class="homepage is-preload">
    <div id="page-wrapper">
      <!-- Header -->
      <section id="header">
        <!-- Logo -->
        <img src="images/logo-dark-states-text.png" alt="Citizens for Rational Government" />
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a>Home</a></li>
                <li><a href="mission.html">What We Believe</a></li>
                <li><a href="candidates.html">Candidates We Prefer</a></li>
            </ul>
        </nav>
      </section>
      <section id="main">
        <div class="container">
          <img src="images/ad-1.png" alt="Banner" />
        </div>
      </section>
      <!-- Footer -->
      <section id="footer"></section>
    </div> <!-- /page-wrapper -->
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/footer.js"></script>
  </body>
</html>
