<!DOCTYPE HTML>
<html>
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/chat.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="assets/js/global_header.js"></script>
  </head>
  <body>
    <noscript> <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1648971006194004&ev=PageView&noscript=1" /> </noscript>
    <div id="page-wrapper">
      <section id="header">
        <img src="images/C4RG-header-white-background.jpeg" alt="Citizens for Rational Government" />
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="mission.html">What We Believe</a></li>
                <li><a href="candidates.html">Candidates We Prefer</a></li>
                <li class="current"><a>The Majoritarian Candidate</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="https://www.zeffy.com/en-US/donation-form/donate-to-help-us-bring-rational-politics-back"
                      id="donateLink"
                      class="donate-link"
                      rel="noopener">Donate
                    </a>
                </li>
            </ul>
        </nav>
      </section>
      <section id="main">
        <div class="container">
          <div id="main-content">
            <div id="chat-container" class="chat-container">
              <div id="chat-system" class="chat-section">
                <!-- Agent and User messages will be added via innerHTML here -->
              </div>
              <div id="chat-separator" class="chat-separator"><!-- hide but to display audio action and status -->
                <div id="audio-popup" class="audio-popup"></div>
              </div>
              <div id="chat-input-container" class="chat-input-container">
                <div id="audio-icon" class="label fas fa-microphone-lines audio-icon"></div>
                <label for="chat-input-text" class="hide"></label>
                <textarea id="chat-input-text" class="chat-input-text" title="input"></textarea>
                <button id="chat-input-submit" class="button chat-submit" type="button" disabled>Submit</button>
              </div>
              <p>If you encounter any issues with our interface in development, you can also visit the <a href="https://chatgpt.com/g/g-6930a96cc7188191a526323071fa05d2-your-issues-based-national-candidate" target="majoritarian" rel="noopener">original OpenAI version</a>.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer -->
      <section id="footer"></section>
    </div> <!-- /page-wrapper -->
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/footer.js"></script>
    <script src="assets/js/donate-popup.js"></script>
    <script type="module" src="assets/js/visitors.mjs"></script>
  </body>
</html>
