<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
		crossorigin="anonymous" referrerpolicy="no-referrer"><!-- ai chat system -->
    <script async src="assets/js/tracking.js"></script>
    <script defer src="assets/js/loader.js"></script>
    <script defer type="module" src="assets/js/visitors.mjs"></script><!-- ai chat scripts -->
  </head>
  <body class="is-loading">
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1648971006194004&ev=PageView&noscript=1" />
      <style>
        body.is-loading {
          opacity: 1 !important;
        }
      </style>
    </noscript>
    <div id="page-header">
      <section id="header"></section>
      <section id="main">
        <div class="container">
          <div id="main-content">
            <div id="chat-container" class="chat-container">
              <div id="chat-system" class="chat-section">
                <!-- Agent and User messages will be added via innerHTML here -->
              </div>
              <div id="chat-separator" class="chat-separator"><!-- hide but to display audio action and status -->
                <div id="audio-popup" class="audio-popup"></div>
              </div>
              <div id="chat-input-container" class="chat-input-container">
                <div id="audio-icon" class="label fas fa-microphone-lines audio-icon"></div>
                <label for="chat-input-text" class="hide"></label>
                <textarea id="chat-input-text" class="chat-input-text" title="input"></textarea>
                <button id="chat-input-submit" class="button chat-submit" type="button" disabled>Submit</button>
              </div>
              <div class="chat-footer">
                <div class="no-wrap">
                  <a id="disclaimer" href="#">View disclaimer</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- footer -->
      <section id="footer"></section>
    </div><!-- page-header -->
    <div id="overlays"></div>
  </body>
</html>
