<!DOCTYPE HTML>
<html>
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <div id="page-wrapper">
      <section id="header">
        <img src="images/C4RG-header-white-background.jpeg" alt="Citizens for Rational Government" />
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="mission.html">What We Believe</a></li>
                <li><a href="candidates.html">Candidates We Prefer</a></li>
                <li class="current"><a>The Majoritarian Candidate</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
      </section>
      <section id="main">
        <div class="container">
          <h3>Contact Us</h3>
          <p>
            <a href="mailto:info@citizensforrationalgovernment.org?subject=User%20Contact%20From%20Site&body=Your%20message...">Send us your <u>email</u></a> so we can send you additional information on our activities, or so you can ask us a question.
          </p>
        </div>
      </section>
      <!-- Footer -->
      <section id="footer"></section>
    </div> <!-- /page-wrapper -->
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/footer.js"></script>
  </body>
</html>
