<div id="chat-container" class="chat-container">
	<div id="chat-refresh" class="chat-refresh">
		<i class="fas fa-redo"></i>
	</div>
	<div id="chat-system" class="chat-section"></div>
	<div id="chat-separator" class="chat-separator">
		<div id="chat-active-items" class="chat-active-items">
			<img id="chat-active-item-thumb" class="chat-active-item-thumb" alt="Active item thumbnail"></img>
			<div id="chat-active-item" class="chat-active-item">
				<div id="chat-active-item-icon" class="fas fa-square chat-active-item-icon"></div>
				<div id="chat-active-item-status" class="chat-active-item-status"></div>
				<button id="chat-active-item-button" class="button chat-active-item-button" title="chat-active-item-button" type="button" disabled></button>
				<div id="chat-active-item-title" class="chat-active-item-title"></div>
				<div id="chat-active-item-close" class="fas fa-close chat-active-item-close"></div>
			</div>
		</div>
		<div id="audio-popup" class="audio-popup"></div>
	</div>
	<div id="chat-input-container" class="chat-input-container">
		<div id="audio-icon" class="fas fa-microphone-lines"></div>
		<textarea id="chat-input-text" class="chat-input-text"></textarea>
		<button id="chat-input-submit" class="button chat-submit" type="button" disabled>Submit</button>
	</div>
</div>