<div id="member-challenge-container" class="member-challenge-container">
    <div id="member-challenge-label" class="member-challenge-label">Enter your passphrase:</div>
    <div id="member-challenge-input" class="member-challenge-input">
        <input id="member-challenge-input-text" class="member-challenge-input-text" placeholder="Enter your personal passphrase..." type="text" />
        <button id="member-challenge-submit" class="member-challenge-submit" type="button" disabled>Enter MyLife</button>
    </div>
    <div id="member-challenge-error" class="member-challenge-error"></div>
</div>