<!DOCTYPE HTML>
<html>
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <div id="page-wrapper">
      <section id="header">
        <img src="images/C4RG-header-white-background.jpeg" alt="Citizens for Rational Government" />
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="current"><a>What We Believe</a></li>
                <li><a href="candidates.html">Candidates We Prefer</a></li>
                <li><a href="majoritarian.html" target="majoritarian">The Majoritarian Candidate</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </nav>
      </section>
      <section id="main">
        <div class="container">
          <h3>
            Our Mission
          </h3>
          <p>
            Citizens for Rational Government is a grassroots Political Action Committee trying to raise awareness and promote education about rational, non-extremist choices for how we govern our society and promote democracy in the U.S.
          </p>
        </div>
        <div class="container">
          <h3>What We Believe</h3>
            <p>
              Our current system encourages extremism in both parties. Low turnout in our primary elections too often allows small groups of political activists to determine the candidates in general elections. And the timing of the primaries so early in the election cycle adds to the overall apathy and confusion amongst voters.
              Media often focuses on the extreme candidates and positions, as it sells better than rational content.
              <ul class="left">
                <li>The majority of Americans want a stable, rational government that focuses on real problems and solutions, not the extreme positions</li>
                <li>Most Americans agree on balanced, rational solutions to most of our problems&mdash;our populace is not as divided as our current politicians say</li>
                <li>Effective ideas emerge from both the Republican and Democratic side of the aisle, as well as Independent positions. Unfortunately the extreme platforms of both Parties have gotten the attention and driven the conversation, overshadowing these rational solutions</li>
                <li> The radicalized direction of the country in the early-21st-century is unsustainable, unless the majority of Americans speak up and demand change. Use this site to start demanding change</li>
              </ul>
            </p>
        </div>
      </section>
      <!-- Footer -->
      <section id="footer"></section>
    </div> <!-- /page-wrapper -->
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/footer.js"></script>
  </body>
</html>
