<div id="privacy-container" class="privacy-container">
    <section id="privacy-header" class="privacy-section">
        <h3>MyLife Evolving Privacy Policy</h3>
    </section>
    <div id="privacy-contents" class="privacy-contents">
        <ol>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#data-collection">Data Collection</a></li>
            <li><a href="#use-of-data">Use of Data</a></li>
            <li><a href="#data-sharing">Data Sharing and Consent</a></li>
            <li><a href="#data-governance">Data Governance and User Control</a></li>
            <li><a href="#data-security">Data Security</a></li>
            <li><a href="#privacy-updates">Policy Updates</a></li>
            <li><a href="#contact-information">Contact Information</a></li>
            <li><a href="#data-retention">Data Retention</a></li>
        </ol>
    </div>
    <section id="introduction" class="privacy-section">
        <h3>Introduction</h3>
        <p>
            Welcome to MyLife! We are committed to protecting the privacy and security of our members' data. This Privacy Policy outlines how we collect, use, store, and share your information, as well as your rights regarding your personal data.
        </p>
    </section>
    <section id="data-collection" class="privacy-section">
        <h3>Data Collection</h3>
        <p>
            We collect personal data exclusively from our members. This includes a wide range of information, from basic identifiers to deeply private and personal data. We assure you that the collection of this data is with your consent and is essential for the services we provide.
        </p>
    </section>
    <section id="use-of-data" class="privacy-section">
        <h3>Use of Data</h3>
        <p>Your data is used for the following purposes:
            <ul>
                <li>To create and manage your digital avatar and MyLife account.</li>
                <li>For internal, anonymized machine learning to improve our services.</li>
                <li>For sharing with posterity based explicit consent obtained through natural conversations with the MyLife platform.</li>
            </ul>
        </p>
    </section>
    <section id="data-sharing" class=" privacy-section">
        <h3>Data Sharing and Consent</h3>
        <p>
            We do not share your data with third parties without your explicit consent. This consent can be anonymized or direct and may involve compensation. We respect your choices and provide you with control over how your data is used and shared.
        </p>
    </section>
    <section id="data-governance" class="privacy-section">
        <h3>Data Governance and User Control</h3>
        <p>
            You have full control over your data. You can access, update, or request deletion of your data at any time by simply stating your preferences to your avatar. Your consent preferences will be stored as a text summary attached to the object ID of your data.
        </p>
    </section>
    <section id="data-security" class="privacy-section">
        <h3>Data Security</h3>
        <p>
            We employ industry-standard security measures, including encryption, to protect your data. In the unlikely event of a data breach, we have procedures in place to minimize harm and will inform you accordingly.
        </p>
    </section>
    <section id="privacy-updates" class="privacy-section">
        <h3>Policy Updates</h3>
        <p>
            We review and update our Privacy Policy quarterly or more frequently as needed. Changes will be communicated to you through your primary avatar and on our website.
        </p>
    </section>
    <section id="contact-information" class="privacy-section">
        <h3>Contact Information</h3>
        <p>
            For any questions or concerns regarding your privacy, please contact us at 
            <a href="mailto:mylife.support@humanremembranceproject.org">mylife.support@humanremembranceproject.org</a> 
            or through our support bot at 
            <a href="https://humanremembranceproject.org">humanremembranceproject.org</a>.
        </p>
    </section>
    <section id="data-retention" class="privacy-section">
        <h3>Data Retention</h3>
        <p>
            Certain summary data is retained perennially as one of the benefits of MyLife. However, you can request the deletion of specific data, and we will honor your request promptly.
        </p>
    </section>
</div>