<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script async src="assets/js/tracking.js"></script>
    <script defer src="assets/js/loader.js"></script>
  </head>
  <body class="is-loading">
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1648971006194004&ev=PageView&noscript=1" />
      <style>
        body.is-loading {
          opacity: 1 !important;
        }
      </style>
    </noscript>
    <div id="page-wrapper">
      <section id="header"></section>
      <section id="main">
        <div class="container">
          <h3>
            Partners and Voting Resources 
          </h3>
          <h4>
            C4RG is proud to Partner with MarchMatters.org to bring you the Tools to help you Vote and help you jump start your Advocacy Efforts!
          </h4>
          <ul>
            <li>Voting Made Simple: 
              <a href="https://www.marchmatters.org/prepare-for-the-primaries" target="_blank">
                https://www.marchmatters.org/prepare-for-the-primaries
              </a>
            </li>
            <li>Turbocharge your Advocacy efforts: 
              <a href="https://www.marchmatters.org/#mm-hp-how" target="_blank">
                https://www.marchmatters.org/#mm-hp-how
              </a>
            </li>
          </ul>
          
          <h4>Voter Registration Pages</h4>
          <ul>
            <li>Texas: 
              <a href="https://www.votetexas.gov/register-to-vote/" target="_blank">
                https://www.votetexas.gov/register-to-vote
              </a>
            </li>
            <li>Ohio: 
              <a href="https://olvr.ohiosos.gov/" target="_blank">
                https://olvr.ohiosos.gov
              </a>
            </li>
            <li>Georgia: 
              <a href="https://georgia.gov/register-vote" target="_blank">
                https://georgia.gov/register-vote
              </a>
            </li>
            <li>Alabama: 
              <a href="https://myinfo.alabamavotes.gov/VoterView" target="_blank">
                https://myinfo.alabamavotes.gov/VoterView
              </a>
            </li>
            <li>Indiana: 
              <a href="https://www.in.gov/sos/elections/voter-information/register-to-vote/" target="_blank">
                https://www.in.gov/sos/elections/voter-information/register-to-vote
              </a>
            </li>
          </ul>
          
          <h4>Other National Voting Organizations</h4>
          <ul>
            <li><a href="https://vote.org" target="_blank">Vote.org</a></li>
            <li><a href="https://rockthevote.org" target="_blank">Rockthevote.org</a></li>
            <li><a href="https://buildersmovement.org/" target="_blank">buildersmovement.org</a></li>
            <li><a href="https://uniteamerica.org/" target="_blank">uniteamerica.org</a></li>
          </ul>
          <h4>Donate to the Cause</h4>
          <a href="https://www.zeffy.com/en-US/donation-form/donate-to-help-us-bring-rational-politics-back">zeffy.com</a>
        </div>
      </section>
      <section id="footer"></section>
    </div><!-- page-wrapper -->
  </body>
</html>
