<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script async src="assets/js/tracking.js"></script>
    <script defer src="assets/js/loader.js"></script>
  </head>
  <body class="is-loading">
    <noscript>
      <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1648971006194004&ev=PageView&noscript=1" />
      <style>
        body.is-loading {
          opacity: 1 !important;
        }
      </style>
    </noscript>
    <div id="page-wrapper">
      <section id="header"></section>
      <section id="main">
        <div class="container">
          <h3>
            Partners and Voting Resources 
          </h3>
          <h4>
            C4RG is proud to Partner with MarchMatters.org to bring you the Tools to help you Vote and help you jump start your Advocacy Efforts!
          </h4>

          Voting Made Simple: <a href="https://www.marchmatters.org/prepare-for-the-primaries">https://www.marchmatters.org/prepare-for-the-primaries</a> <br>
          Turbocharge your Advocacy efforts: <a href="https://www.marchmatters.org/#mm-hp-how">https://www.marchmatters.org/#mm-hp-how</a>

          
          <br><br>
          <h4>Voter Registration Pages</h4>

            Texas:  <a href="https://www.votetexas.gov/register-to-vote/">https://www.votetexas.gov/register-to-vote</a> <br>
            Ohio:  <a href="https://olvr.ohiosos.gov/">https://olvr.ohiosos.gov</a> <br>
            Georgia:  <a href="https://georgia.gov/register-vote">https://georgia.gov/register-vote</a> <br>
            Alabama:  <a href="https://myinfo.alabamavotes.gov/VoterView">https://myinfo.alabamavotes.gov/VoterView</a> <br>
            Indiana:  <a href="https://www.in.gov/sos/elections/voter-information/register-to-vote/">https://www.in.gov/sos/elections/voter-information/register-to-vote</a>

          <br><br>  
          <h4>Other National Voting Organizations</h4>

          <a href="Vote.org">Vote.org</a> <br>
          <a href="Rockthevote.org">Rockthevote.org</a> <br>
          <a href="https://buildersmovement.org/">buildersmovement.org</a> <br>
          <a href="https://uniteamerica.org/">uniteamerica.org</a>
         <br><br> 

         <h4>Donate to the Cause</h4>

         <a href="https://www.zeffy.com/en-US/donation-form/donate-to-help-us-bring-rational-politics-back">zeffy.com</a>



        </div>

      </section>
      <!-- footer -->
      <section id="footer"></section>
    </div><!-- page-wrapper -->
  </body>
</html>
