<!DOCTYPE HTML>
<html>
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>

  <body class="homepage is-preload">
    <div id="page-wrapper">

      <!-- Header -->
      <section id="header">

        <!-- Logo -->
        <h1>
          <a href="index.html">
            <img src="images/logo-dark-states-text.png" alt="Citizens for Rational Government" />
          </a>
        </h1>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="one.html">Mission</a></li>
            <li><a href="two.html">What We Believe</a></li>
            <li class="current"><a href="three.html">Candidates we Prefer</a></li>
			<!-- <li><a href="bot.html">MAJORITARIAN CANDIDATE</a></li> -->
          </ul>
        </nav>
<br>
      <div class="container">
        <p>
          <h3>
            <div style="text-align: left">
          We think the radicalized direction of the country in the early-21st-century is unsustainable, unless the majority of Americans speak up and demand change. Use this site to start demanding change.  
<br><br>
"Candidates we Prefer" is comming soon. The following is what you will be able to do on this site, when fully launched. 
<br><br>
Dive DEEPER into our philosophy and see what we are doing to further our mission
See who we endorse in BOTH POLITICAL PARTIES in upcoming Primaries and General Elections.   These candidates may not reflect all of your political values or priorities, but in our opinion they are rational in their decision making and do not take the extreme positions of their party just to get attention or rile up their base. 
<br> <br>
Discuss and Debate with our MAJORITARIAN CANDIDATE ... an AI bot trained on the major issues facing America with a focus on rational and actionable platform positions that data shows the majority of Americans support!  See what truly independent candidate could do for our country.
<br><br>
                   <a href="mailto:info@citizensforrationalgovernment.org?subject=User%20Contact%20From%20Site&body=Your%20message...">
                    Send us your <u>email</u>
                  </a> so we can send you additional information on our activities, or so you can ask us a question.
</div>

          </h3>
        </p>
      </div>                  
      </section>

      <!-- Footer -->
      <section id="footer">
        <div class="container">

          <!-- Row 1 -->
          <div class="row">
            <div class="col-4 col-4-medium col-12-small">
              <section>
                <ul class="social">
                  <li>
                    <a class="icon brands fa-facebook-f"
                       href="https://facebook.com/yourpage"
                       target="_blank"
                       rel="noopener">
                      <span class="label">Facebook</span>
                    </a>
                  </li>
                </ul>
              </section>
            </div>

            <div class="col-4 col-4-medium col-12-small">
              <section>
                <p>
                  Citizens for Rational Government<br />
                  2310 North Henderson Ave, Ste B1271<br />
                  Dallas, TX 75206<br /><br />
                  Section 527 Organization<br />
                  Texas Ethics Commission Filer ID:  00090583<br />
                  EIN:  41 - 3694936
                </p>
              </section>
            </div>

            <div class="col-4 col-4-medium col-12-small">
              <section>
                <h3>Contact Us:</h3>
                <p>
                  <a href="mailto:info@citizensforrationalgovernment.org?subject=User%20Contact%20From%20Site&body=Your%20message...">
                    info@citizensforrationalgovernment.org
                  </a>
                </p>
              </section>
            </div>
          </div> <!-- /row -->

          <!-- Row 2 -->
          <div class="row">
            <div class="col-12">
              <div id="copyright">
                <ul class="links">
                  <li>&copy; Citizens for Rational Government. All rights reserved.</li>
                  <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
              </div>
            </div>
          </div> <!-- /row -->

        </div> <!-- /container -->
      </section>

    </div> <!-- /page-wrapper -->

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
