<!DOCTYPE HTML>
<html>
  <head>
    <title>Citizens for Rational Government PAC</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>

  <body class="homepage is-preload">
    <div id="page-wrapper">

      <!-- Header -->
      <section id="header">

        <!-- Logo -->
        <h1>
          <a href="index.html">
            <img src="images/logo-dark-states-text.png" alt="Citizens for Rational Government" />
          </a>
        </h1>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="one.html">Mission</a></li>
            <li class="current"><a href="two.html">What We Believe</a></li>
            <li><a href="three.html">Candidates we Prefer</a></li>
			<!-- <li><a href="bot.html">MAJORITARIAN CANDIDATE</a></li> -->
          </ul>
        </nav>
      <br>
      <div class="container">
        <p>
          <h3>
          What We Believe
<br><br>
<div style="text-align: left">
Our current system encourages extremism in both parties.  Low turnout in our primary elections too often allows small groups of political activists to determine the candidates in general elections. And the timing of the primaries so early in the election cycle adds to the overall apathy and confusion amongst voters.
Media often focuses on the extreme candidates and positions, as it sells better than rational content. 
<br><br>
The majority of Americans want a stable, rational government that focuses on real problems and solutions, not the extreme positions
Most Americans agree on balanced, rational solutions to most of our problems–our populace is not as divided as our current politicians say
Effective ideas emerge from both the Republican and Democratic side of the aisle, as well as Independent positions. Unfortunately the extreme platforms of both Parties have gotten the attention and driven the conversation, overshadowing these rational solutions

We think the radicalized direction of the country in the early-21st-century is unsustainable, unless the majority of Americans speak up and demand change. Use this site to start demanding change.  
</div>
          </h3>
        </p>
      </div>                    

      </section>

      <!-- Footer -->
      <section id="footer">
        <div class="container">

          <!-- Row 1 -->
          <div class="row">
            <div class="col-4 col-4-medium col-12-small">
              <section>
                <ul class="social">
                  <li>
                    <a class="icon brands fa-facebook-f"
                       href="https://facebook.com/yourpage"
                       target="_blank"
                       rel="noopener">
                      <span class="label">Facebook</span>
                    </a>
                  </li>
                </ul>
              </section>
            </div>

             <div class="col-4 col-4-medium col-12-small">
              <section>
                <p>
                  Citizens for Rational Government<br />
                  2310 North Henderson Ave, Ste B1271<br />
                  Dallas, TX 75206<br /><br />
                  Section 527 Organization<br />
                  Texas Ethics Commission Filer ID:  00090583<br />
                  EIN:  41 - 3694936
                </p>
              </section>
            </div>

            <div class="col-4 col-4-medium col-12-small">
              <section>
                <h3>Contact Us:</h3>
                <p>
                  <a href="mailto:info@citizensforrationalgovernment.org?subject=User%20Contact%20From%20Site&body=Your%20message...">
                    info@citizensforrationalgovernment.org
                  </a>
                </p>
              </section>
            </div>
          </div> <!-- /row -->

          <!-- Row 2 -->
          <div class="row">
            <div class="col-12">
              <div id="copyright">
                <ul class="links">
                  <li>&copy; Citizens for Rational Government. All rights reserved.</li>
                  <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
              </div>
            </div>
          </div> <!-- /row -->

        </div> <!-- /container -->
      </section>

    </div> <!-- /page-wrapper -->

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
