<div id="team-popup" class="popup team-popup"></div>
<div id="personal-avatar" class="bot-container">
    <div id="personal-avatar-status" class="bot-status">
        <div id="personal-avatar-icon" class="bot-icon">
            <img id="personal-avatar-thumb" class="bot-image" src="/png/avatar-thumb.png" title="I am an artificial intelligence designed to help you with anything you need inside MyLife." />
        </div>
        <div id="personal-avatar-title" class="bot-title">
            <div id="personal-avatar-title-type" class="bot-title-type"></div>
            <div id="personal-avatar-title-name" class="bot-title-name"></div>
            <div id="personal-avatar-title-version" class="bot-title-version"></div>
        </div>
        <div id="personal-avatar-options-dropdown" class="bot-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
    </div>
    <div id="personal-avatar-options" class="bot-options hidden">
        <!-- Bot Name -->
        <div id="personal-avatar-bot_name" class="input-group">
            <label for="personal-avatar-bot_name">Bot Name:</label>
            <input id="personal-avatar-input-bot_name" class="bot-input bot-name" maxlength="256" />
        </div>
        <button id="passphrase-reset-button" class="bot-options-button button passphrase-reset">Reset passphrase</button>
        <div id="personal-avatar-passphrase-container" class="passphrase-container">
            <div id="personal-avatar-passphrase-cancel" class="fas fa-close passphrase-cancel"></div>
            <input id="personal-avatar-passphrase" class="bot-input passphrase-input" maxlength="256" />
            <div id="personal-avatar-passphrase-submit" class="fa-solid fa-circle-arrow-right passphrase-submit"></div>
        </div>
        <!--
        <div id="personal-avatar-publicity" class="publicity">
            <div id="personal-avatar-publicity-toggle" class="publicity-toggle">
                <label id="personal-avatar-publicity-private-label" class="publicity-label label-off" data-checked-value="false">Private</label>
                <input id="personal-avatar-publicity-input" class="hide" type="checkbox" />
                <span id="personal-avatar-publicity-slider" class="publicity-slider"></span>
                <label id="personal-avatar-publicity-public-label" class="publicity-label" data-checked-value="true">Public</label>
            </div>
            <span id="personal-avatar-publicity-toggle-view-icon" class="fas fa-eye-slash publicity-toggle-view-icon"></span>
        </div>
        -->
        <button id="personal-avatar-tutorial" class="bot-options-button button tutorial-button">Run Tutorial</button>
        <button id="personal-avatar-introduction" class="bot-options-button button introduction-button">Introduction to MyLife</button>
        <button id="personal-avatar-privacy" class="bot-options-button button privacy-button">MyLife Privacy Policy</button>
        <button id="personal-avatar-routine" class="bot-options-button button routine-button">My Greeting Routine</button>
    </div>
</div>
<div id="team-header" class="header team-header">
    <div id="team-name" class="team-name">MyLife Memory Team</div>
    <span id="add-team-member-icon" class="fas fa-person-circle-plus add-team-member-icon" name="add-team-member"></span>
</div>
<div class="collections-container" id="collections-container">
    <div class="collections-titlebar" id="collections-titlebar" name="collections-titlebar">
        <div class="collections-spacer" id="collections-titlebar-spacer"></div>
        <div class="collections-title" id="collections-title" name="collections-title">Scrapbook</div>
        <div class="bot-options-dropdown" id="collections-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
    </div>
    <div class=" bot-options collections-options hidden" id="collections-options" name="collections-options">
        <!-- Bot Name -->
        <div class="collections-description show" id="collections-description">
            Click on a category to browse entries
        </div>
        <div id="collections-collections" class="collections"><!-- from here _could_ be dynamic, not just listing -->
            <div id="collection-memory" class="collection memory-collection">
                <div id="collection-bar-memory" class="collection-bar">
                    <div id="collection-icon-memory" class="collection-icon collection-icon memory-icon"></div>
                    <div id="collection-title-memory" class="collection-title collection-title memory-title">Memories</div>
                    <span class="fa-solid fa-refresh collection-refresh memory-refresh" id="collection-refresh-memory"></span>
                </div>
                <div id="collection-list-memory" class="collection-list memory-list">
                    <!-- memory items populate here -->
                    <div class="collection-item memory-item">None</div>
                </div>
            </div>
            <div id="collection-entry" class="collection entry-collection">
                <div id="collection-bar-entry" class="collection-bar">
                    <div id="collection-icon-entry" class="collection-icon collection-icon entry-icon"></div>
                    <div id="collection-title-entry" class="collection-title collection-title entry-title">Entries</div>
                    <span class="fa-solid fa-refresh collection-refresh entry-refresh" id="collection-refresh-entry"></span>
                </div>
                <div id="collection-list-entry" class="collection-list entry-list">
                    <!-- entry items populate here -->
                    <div class="collection-item entry-item">None</div>
                </div>
            </div>
            <div id="collection-file" class="collection file-collection">
                <div id="collection-bar-file" class="collection-bar">
                    <div id="collection-icon-file" class="collection-icon collection-icon"></div>
                    <div id="collection-title-file" class="collection-title collection-title">Files</div>
                    <span class="fa-solid fa-refresh collection-refresh" id="collection-refresh-file"></span>
                </div>
                <div id="collection-list-file" class="collection-list">
                    <!-- file items populate here -->
                    <div class="collection-item file-item">None</div>
                </div>
            </div>
        </div>
        <button id="collections-upload" class="bot-options-button button upload collections-upload" name="bot-upload">Upload</button>
    </div>
</div>