<div id="bot-container" class="widget bot">
    <div id="team-popup" class="popup team-popup"></div>
    <div id="personal-avatar" class="bot-container">
        <div id="personal-avatar-status" class="bot-status">
            <div id="personal-avatar-icon" class="bot-icon">
                <img id="personal-avatar-thumb" class="bot-image" src="/png/avatar-thumb.png" title="I am an artificial intelligence designed to help you with anything you need inside MyLife." />
            </div>
            <div id="personal-avatar-title" class="bot-title">
                <div id="personal-avatar-title-type" class="bot-title-type"></div>
                <div id="personal-avatar-title-name" class="bot-title-name"></div>
                <div id="personal-avatar-title-version" class="bot-title-version"></div>
            </div>
            <div id="personal-avatar-options-dropdown" class="bot-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
        </div>
        <div id="personal-avatar-options" class="bot-options hidden">
            <!-- Bot Name -->
            <div id="personal-avatar-bot_name" class="input-group">
                <label for="personal-avatar-bot_name">Bot Name:</label>
                <input id="personal-avatar-input-bot_name" class="bot-input bot-name" maxlength="256" />
            </div>
            <button id="passphrase-reset-button" class="button passphrase-reset">Reset passphrase</button>
            <div id="personal-avatar-passphrase-container" class="passphrase-container">
                <span id="personal-avatar-passphrase-cancel" class="fas fa-close passphrase-cancel"></span>
                <input id="personal-avatar-passphrase" class="bot-input passphrase-input" maxlength="256" />
                <span id="personal-avatar-passphrase-submit" class="fa-solid fa-circle-arrow-right passphrase-enter"></span>
            </div>
            <!--
            <div id="personal-avatar-publicity" class="publicity">
                <div id="personal-avatar-publicity-toggle" class="publicity-toggle">
                    <label id="personal-avatar-publicity-private-label" class="publicity-label label-off" data-checked-value="false">Private</label>
                    <input id="personal-avatar-publicity-input" class="hide" type="checkbox" />
                    <span id="personal-avatar-publicity-slider" class="publicity-slider"></span>
                    <label id="personal-avatar-publicity-public-label" class="publicity-label" data-checked-value="true">Public</label>
                </div>
                <span id="personal-avatar-publicity-toggle-view-icon" class="fas fa-eye-slash publicity-toggle-view-icon"></span>
            </div>
            -->
            <button id="personal-avatar-tutorial" class="button tutorial-button">Run Tutorial</button>
            <button id="personal-avatar-introduction" class="button introduction-button">Introduction to MyLife</button>
            <button id="personal-avatar-privacy" class="button privacy-button">MyLife Privacy Policy</button>
            <button id="personal-avatar-routine" class="button routine-button">My Greeting Routine</button>
        </div>
    </div>
    <div id="team-header" class="header team-header">
        <div id="team-name" class="team-name">MyLife Memory Team</div>
        <span id="add-team-member-icon" class="fas fa-person-circle-plus add-team-member-icon" name="add-team-member"></span>
    </div>
    <div class="bot-container" id="personal-biographer">
        <div class="bot-status" id="personal-biographer-status">
            <div class="bot-icon" id="personal-biographer-icon">
                <img id="personal-biographer-thumb" class="bot-image" title="I am an artificial intelligence designed to help you collect and enhance your memories." src="/png/biographer-thumb.png" />
            </div>
            <div id="personal-biographer-title" class="bot-title">
                <div id="personal-biographer-title-type" class="bot-title-type"></div>
                <div id="personal-biographer-title-name" class="bot-title-name"></div>
                <div id="personal-biographer-title-version" class="bot-title-version"></div>
            </div>
            <div class="bot-options-dropdown" id="personal-biographer-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
        </div>
        <div class="bot-options hidden" id="personal-biographer-options">
            <!-- Bot Name -->
            <div class="input-group" id="personal-biographer-bot_name">
                <label for="personal-biographer-input-bot_name">Bot Name:</label>
                <input class="bot-input bot-name" id="personal-biographer-input-bot_name" maxlength="256" />
            </div>
            <!-- Interests/Hobbies -->
            <div class="input-group interests" id="personal-biographer-interests">
                <label class="interests-label">I enjoy talking about:</label>
                <div class="checkbox-group">
                    <!-- Repeat for each interest -->
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-academics" value="Academics">
                        <label for="personal-biographer-academics">Academics</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-art" value="Art">
                        <label for="personal-biographer-art">Art</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-business-career" value="Business and Career">
                        <label for="personal-biographer-business-career">Business and Career</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-culture" value="Culture">
                        <label for="personal-biographer-culture">Culture</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-entertainment" value="Entertainment">
                        <label for="personal-biographer-entertainment">Entertainment</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-family" value="Family">
                        <label for="personal-biographer-family">Family</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-fashion" value="Fashion">
                        <label for="personal-biographer-fashion">Fashion</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-food" value="Food">
                        <label for="personal-biographer-food">Food</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-health" value="Health and Well-Being">
                        <label for="personal-biographer-health">Health and Well-Being</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-hobbies" value="Hobbies">
                        <label for="personal-biographer-hobbies">Hobbies</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-ideas" value="Ideas">
                        <label for="personal-biographer-ideas">Ideas</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-literature" value="Literature">
                        <label for="personal-biographer-literature">Literature</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-music" value="Music">
                        <label for="personal-biographer-music">Music</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-pets" value="Pets">
                        <label for="personal-biographer-pets">Pets</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-philosophy" value="Philosophy">
                        <label for="personal-biographer-philosophy">Philosophy</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-politics" value="Politics">
                        <label for="personal-biographer-politics">Politics</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-relationships" value="Relationships">
                        <label for="personal-biographer-politics">Relationships</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-science" value="Science">
                        <label for="personal-biographer-science">Science</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-social-justice" value="Social Justice">
                        <label for="personal-biographer-social-justice">Social Justice</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-sports" value="Sports">
                        <label for="personal-biographer-sports">Sports</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-tech" value="Tech">
                        <label for="personal-biographer-tech">Technology</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-travel" value="Travel">
                        <label for="personal-biographer-travel">Travel</label>
                    </div>
                </div>
            </div>
            <button id="personal-biographer-routine" class="button routine-button">My Greeting Routine</button>
        </div>
    </div>
    <div class="bot-container" id="diary">
        <div class="bot-status" id="diary-status">
            <div class="bot-icon" id="diary-icon">
                <img id="diary-thumb" class="bot-image" src="/png/diary-thumb.png" title="I am an artificial intelligence designed to help you keep secure your private thoughts." />
            </div>
            <div id="diary-title" class="bot-title">
                <div id="diary-title-type" class="bot-title-type"></div>
                <div id="diary-title-name" class="bot-title-name"></div>
                <div id="diary-title-version" class="bot-title-version"></div>
            </div>
            <div class="bot-options-dropdown" id="diary-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
        </div>
        <div class="bot-options hidden" id="diary-options" name="bot-options">
            <div class="input-group" id="diary-bot_name">
                <label for="diary-input-bot_name">Bot Name:</label>
                <input class="bot-name" id="diary-input-bot_name" maxlength="256" />
            </div>
            <div class="input-group interests" id="diary-interests">
                <label class="interests-label">I like using my diary for:</label>
                <div class="checkbox-group">
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="art" id="diary-art" value="art">
                        <label for="diary-art">Art</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="diary-ideas" value="ideas">
                        <label for="diary-ideas">Ideas</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="diary-dreams" value="dreams">
                        <label for="diary-dreams">Dreams</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="diary-relationships" value="relationships">
                        <label for="diary-relationships">Relationships</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="diary-awareness" value="awareness">
                        <label for="diary-awareness">Self-awareness</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="diary-understanding" value="understanding">
                        <label for="diary-understanding">Understanding</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="diary-peace" value="peace">
                        <label for="diary-peace">Inner Peace</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="diary-spirituality" value="spirituality">
                        <label for="diary-spirituality">Spirituality</label>
                    </div>
                </div>
            </div>
            <button class="button bot-start" id="diary-start">Let's get started!</button>
            <div id="diary-retire" class="retire-container">
                <div id="diary-retire-text" class="retire-text">Retire this:</div>
                <span id="diary-retire-chat" class="fas fa-comment-slash retire-icon retire-chat" title="Retire this Chat. Begins new chat."></span>
                <span id="diary-retire-bot" class="fas fa-user-large-slash retire-icon retire-bot" title="Relieves this bot, cannot be returned."></span>
            </div>
        </div>
    </div>
    <div class="bot-container" id="journaler">
        <div class="bot-status" id="journaler-status">
            <div class="bot-icon" id="journaler-icon">
                <img id="journaler-thumb" class="bot-image" src="/png/journal-thumb.png" title="I am an artificial intelligence designed to help you keep secure your private thoughts." />
            </div>
            <div id="journaler-title" class="bot-title">
                <div id="journaler-title-type" class="bot-title-type"></div>
                <div id="journaler-title-name" class="bot-title-name"></div>
                <div id="journaler-title-version" class="bot-title-version"></div>
            </div>
            <div class="bot-options-dropdown" id="journaler-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
        </div>
        <div class="bot-options hidden" id="journaler-options" name="bot-options">
            <!-- Bot Name -->
            <div class="input-group" id="journaler-bot_name">
                <label for="journaler-input-bot_name">Bot Name:</label>
                <input class="bot-name" id="journaler-input-bot_name" maxlength="256" />
            </div>
            <!-- Interests/Hobbies -->
            <div class="input-group interests" id="journaler-interests">
                <label class="interests-label">I enjoy journaling about:</label>
                <div class="checkbox-group">
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="art" id="journaler-art" value="art">
                        <label for="journaler-art">Art</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-ideas" value="ideas">
                        <label for="journaler-ideas">Ideas</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-dreams" value="dreams">
                        <label for="journaler-dreams">Dreams</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-relationships" value="relationships">
                        <label for="journaler-relationships">Relationships</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-awareness" value="awareness">
                        <label for="journaler-awareness">Self-awareness</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-understanding" value="understanding">
                        <label for="journaler-understanding">Understanding</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-peace" value="peace">
                        <label for="journaler-peace">Inner Peace</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-spirituality" value="spirituality">
                        <label for="journaler-spirituality">Spirituality</label>
                    </div>
                </div>
            </div>
            <div id="journaler-retire" class="retire-container">
                <div id="journaler-retire-text" class="retire-text">Retire this:</div>
                <span id="journaler-retire-chat" class="fas fa-comment-slash retire-icon retire-chat" title="Retires CHAT. Begins new chat."></span>
                <span id="journaler-retire-bot" class="fas fa-user-large-slash retire-icon retire-bot" title="Retires BOT, cannot be returned."></span>
            </div>
        </div>
    </div>
    <div class="collections-container" id="collections-container">
        <div class="collections-titlebar" id="collections-titlebar" name="collections-titlebar">
            <div class="collections-spacer" id="collections-titlebar-spacer"></div>
            <div class="collections-title" id="collections-title" name="collections-title">Scrapbook</div>
            <div class="bot-options-dropdown" id="collections-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
        </div>
        <div class=" bot-options collections-options hidden" id="collections-options" name="collections-options">
            <!-- Bot Name -->
            <div class="collections-description" id="collections-description">
                Click on a category to browse entries
            </div>
            <div id="collections-collections" class="collections"><!-- from here _could_ be dynamic, not just listing -->
                <div id="collection-memory" class="collection memory-collection">
                    <div id="collection-bar-memory" class="collection-bar">
                        <div id="collection-icon-memory" class="collection-icon collection-icon memory-icon"></div>
                        <div id="collection-title-memory" class="collection-title collection-title memory-title">Memories</div>
                        <span class="fa-solid fa-refresh collection-refresh memory-refresh" id="collection-refresh-memory"></span>
                    </div>
                    <div id="collection-list-memory" class="collection-list memory-list">
                        <!-- memory items populate here -->
                        <div class="collection-item memory-item">None</div>
                    </div>
                </div>
                <div id="collection-entry" class="collection entry-collection">
                    <div id="collection-bar-entry" class="collection-bar">
                        <div id="collection-icon-entry" class="collection-icon collection-icon entry-icon"></div>
                        <div id="collection-title-entry" class="collection-title collection-title entry-title">Entries</div>
                        <span class="fa-solid fa-refresh collection-refresh entry-refresh" id="collection-refresh-entry"></span>
                    </div>
                    <div id="collection-list-entry" class="collection-list entry-list">
                        <!-- entry items populate here -->
                        <div class="collection-item entry-item">None</div>
                    </div>
                </div>
                <div id="collection-file" class="collection file-collection">
                    <div id="collection-bar-file" class="collection-bar">
                        <div id="collection-icon-file" class="collection-icon collection-icon"></div>
                        <div id="collection-title-file" class="collection-title collection-title">Files</div>
                        <span class="fa-solid fa-refresh collection-refresh" id="collection-refresh-file"></span>
                    </div>
                    <div id="collection-list-file" class="collection-list">
                        <!-- file items populate here -->
                        <div class="collection-item file-item">None</div>
                    </div>
                </div>
            </div>
            <button id="collections-upload" class="button upload collections-upload" name="bot-upload">Upload</button>
        </div>
    </div>
</div>