<div id="team-popup" class="popup team-popup"></div>
<div id="personal-avatar" class="bot-container">
    <div id="personal-avatar-status" class="bot-status">
        <div id="personal-avatar-icon" class="bot-icon">
            <img id="personal-avatar-thumb" class="bot-image" src="/png/avatar-thumb.png" title="I am an artificial intelligence designed to help you with anything you need inside MyLife." />
        </div>
        <div id="personal-avatar-title" class="bot-title">
            <div id="personal-avatar-title-type" class="bot-title-type"></div>
            <div id="personal-avatar-title-name" class="bot-title-name"></div>
            <div id="personal-avatar-title-version" class="bot-title-version"></div>
        </div>
        <div id="personal-avatar-options-dropdown" class="bot-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
    </div>
    <div id="personal-avatar-options" class="bot-options hidden">
        <!-- Bot Name -->
        <div id="personal-avatar-bot_name" class="input-group">
            <label for="personal-avatar-bot_name">Bot Name:</label>
            <input id="personal-avatar-input-bot_name" class="bot-input bot-name" maxlength="256" />
        </div>
        <button id="passphrase-reset-button" class="bot-options-button button passphrase-reset">Reset passphrase</button>
        <div id="personal-avatar-passphrase-container" class="passphrase-container">
            <div id="personal-avatar-passphrase-cancel" class="fas fa-close passphrase-cancel"></div>
            <input id="personal-avatar-passphrase" class="bot-input passphrase-input" maxlength="256" />
            <div id="personal-avatar-passphrase-submit" class="fa-solid fa-circle-arrow-right passphrase-submit"></div>
        </div>
        <!--
        <div id="personal-avatar-publicity" class="publicity">
            <div id="personal-avatar-publicity-toggle" class="publicity-toggle">
                <label id="personal-avatar-publicity-private-label" class="publicity-label label-off" data-checked-value="false">Private</label>
                <input id="personal-avatar-publicity-input" class="hide" type="checkbox" />
                <span id="personal-avatar-publicity-slider" class="publicity-slider"></span>
                <label id="personal-avatar-publicity-public-label" class="publicity-label" data-checked-value="true">Public</label>
            </div>
            <span id="personal-avatar-publicity-toggle-view-icon" class="fas fa-eye-slash publicity-toggle-view-icon"></span>
        </div>
        -->
        <button id="personal-avatar-tutorial" class="bot-options-button button tutorial-button">Run Tutorial</button>
        <button id="personal-avatar-introduction" class="bot-options-button button introduction-button">Introduction to MyLife</button>
        <button id="personal-avatar-privacy" class="bot-options-button button privacy-button">MyLife Privacy Policy</button>
        <button id="personal-avatar-routine" class="bot-options-button button routine-button">My Greeting Routine</button>
    </div>
</div>
<div id="team-header" class="header team-header">
    <div id="team-name" class="team-name">MyLife Team</div>
    <span id="add-team-member-icon" class="fas fa-person-circle-plus add-team-member-icon" name="add-team-member"></span>
</div>
<div class="collections-container" id="collections-container"></div>