<img src="../png/mylife-logo.png" alt="MyLife logo">
<a href="#" class="logo">MyLife</a>
<div class="hamburger" id="hamburger">
    <% menu.forEach(_menuItem=>{ %>
        <span></span>
    <% }) %>
</div>
<ul id="navigation-menu">
    <% menu.forEach(_menuItem=>{ %>
        <li><a <%= _menuItem?.click?.length ? `onClick=${ _menuItem.click }` : '' %> href="<%= _menuItem.route %>"><%= _menuItem.display %></a></li>
    <% }) %>
    <% if(!locked){ %>
        <li><a id="navigation-logout" class="login-btn">Logout</a></li>
    <% } %>
</ul>
<div id="navigation-version" class="navigation-version"><img src="http://nanda-registry.com/api/v1/verification/badge/fbbab90e-bfad-4150-b831-c9a579d0f3c6/" alt="Verified MCP Server" /><div><%= version ? `v.${ version }` : '' %></div></div>