<div id="signup" class="signup-content" data-require-login="false">
	<h2>Your Life is Worth Saving</h2>
	<div id="signup-join">
		<p>
			MyLife is a nonprofit humanist member organization dedicated to
			helping you <strong>preserve and share what truly matters</strong>—both now and for future generations.
		</p>
		<p>Your <strong>Personal Memory Companions</strong> will help you:</p>
		<ul>
			<li>
				<strong>Capture and safeguard</strong> your most cherished memories, forever.
			</li>
			<li>
				<strong>Enrich your recollections</strong> with guided prompts and
			meaningful insights.
			</li>
			<li>
				<strong>Revisit and relive</strong> the stories of your life and
			others in new interactive, immersive ways.
			</li>
		</ul>
		<p>
			<strong>Your life is a legacy.</strong><br />
			<span>MyLife ensures it lives on.</span>
		</p>
		<form id="join-form" class="join-form">
			<h2>Join Us!</h2>
			<section>
				<label for="input-email">Email</label>
				<input
					type="email"
					id="input-email"
					name="input-email"
					placeholder="Enter your email..."
				/>
			</section>
			<section>
				<label for="input-name">Your Name</label>
				<input
					type="text"
					id="input-name"
					name="input-name"
					placeholder="Your full name..."
				/>
			</section>
			<section>
				<label for="input-avatar">Agent Name</label>
				<input
					type="text"
					id="input-avatar"
					name="input-avatar"
					placeholder="Name your agent..."
				/>
			</section>
			<button id="signup-submit" type="submit">Become a Member</button>
		</form>
	</div>
	<div id="signup-success" class="signup-success">
		<h2>Thank you for joining our pilot!</h2>
		<p>
			...welcome to <b>MyLife</b> where our journey to creating an everlasting digital legacy for ourselves and each other begins. 
		</p>
		<p>
			At <b>MyLife</b>, we envision sharing <em>your</em> story <em>as</em> contribution to the greater Human Story. The greatest gift you can give <u>Humanity</u> is the genuinity of what mattered to you, and that precious gift only accepted to the degree you consent.
		</p>
		<p>
			This is the freedom of the future, where your journey not only defines your legacy but also helps shape the direction of our collective digital world.
		</p>
		<p>
			We will contact you shortly by email to confirm your interest.
		</p>
	</div>
</div>
<div
	class="mylife-widget bots"
	data-require-login="true"
	id="bots-widget"
>
	<% include _bots %>
</div>