<div class="widget" id="signup-container">
    <div class="header" id="signup-header">About MyLife Membership</div>
    <div id="signup-content" class="signup">
        <div class="error-message" id="signup-error-message"></div> <!-- Error message container -->
        <div id="signup-teaser" class="signup-teaser"><!-- signup Teaser -->
            <div class="signup-teaser-text">
                Empower your digital self with <b>MyLife</b>, a nonprofit humanist member organization whose core mission is to provide you with the tools to digitally manage and preserve what truly matters to you, for now, throughout your lifetime, and for posterity.
            </div>
            <div class="signup-teaser-text">
                Your personal <b>Memory Team</b> of intelligent agents will help you
                <ul>
                    <li><b>collect</b> your <b>memories</b> for yourself, loved ones and posterity</li>
                    <li><b>improve</b>, <b>sharpen</b> and <b>bolster</b> your <b>memories</b> with images and recollection prompts</li>
                    <li>interactively <b>relive</b> your own <b>memories</b></li>
                    <li><b>contribute</b> your <b>memories</b> for the people and causes you care about</li>
                    <li><b>explore</b> public <b>memories</b> from across cultures, language and time</li>
                    <li><b>build memories</b> together as partners or communities</li>
                </ul>
            </div>
            <div class="signup-teaser-text">
                Your contributions are <em>precious</em> and your contributions <b>will</b> change the world <em>for the betterment of all of us</em>.
            </div>
            <div class="signup-teaser-text">
                Learn how to start today.
            </div>
        </div>
        <div id="signup-form" class="signup-form">
            <div id="signup-form-teaser" class="signup-form-teaser">
                <div id="signup-input-container" class="signup-input-container">
                    <div id="signup-email-input" class="signup-input">
                        <label class="signup-input-label" for="email-input-text" id="email-input-label">Email:</label>
                        <input id="email-input-text" type="email" placeholder="Enter your email" required>
                    </div>
                    <div id="signup-human-name-input" class="signup-input">
                        <label id="human-name-input-label" class="signup-input-label" for="human-name-input-text">Name:</label>
                        <input type="text" id="human-name-input-text" minlength="3" placeholder="Enter your name or nickname" required>
                    </div>`
                    <button class="button" type="button" id="signup-submit" disabled>Submit</button>
                </div>
            </div>
        </div>
        <!-- signup Form (Initially Hidden) -->
        <div id="signup-success" class="signup-success">
            <div class="signup-teaser-text">
                <div>
                    ...welcome to <b>MyLife</b> where our journey to creating an everlasting digital legacy for ourselves and each other begins. 
                </div>
            </div>
            <div class="signup-teaser-text">
                <div>
                    At <b>MyLife</b>, we envision sharing <em>your</em> story <em>as</em> contribution to the greater Human Story. The greatest gift you can give <u>Humanity</u> is the genuinity of what mattered to you, and that precious gift only accepted to the degree you consent.
                </div>
            </div>
            <div class="signup-teaser-text">
                This is the freedom of the future, where your journey not only defines your legacy but also helps shape the direction of our collective digital world.
            </div>
            <div class="signup-teaser-text">
                We will contact you shortly by email to confirm your interest.
            </div>
        </div>
    </div>
</div>