<div class="widget" id="signup-container">
    <div class="header" id="signup-header">Claim Your MyLife Membership</div>
    <button class="button button-join" id="signup-button-teaser" data-alt-text="Not right now">Join MyLife Pilot Program</button><!-- signup Button -->
    <div id="signup-content" class="signup">
        <div class="error-message" id="signup-error-message"></div> <!-- Error message container -->
        <div id="signup-teaser" class="signup-teaser"><!-- signup Teaser -->
            <div class="signup-teaser-text">
                Empower your digital self with <b>MyLife</b>, a nonprofit humanist member organization whose core mission is to provide you with the tools to digitally manage and preserve what truly matters to you, for now, throughout your lifetime, and for posterity.
            </div>
            <div class="signup-teaser-text">
                By claiming your free account, you will receive access to personalizable AI Avatars who can help you:                
                <ul>
                    <li>Capture and refine you stories and ideas for now and <em>forever</em></li>
                    <li>Bring your creative work to life</li>
                    <li>Express your uniqueness <em>and</em> diversity</li>
                </ul>
                ...and almost <b>anything else you can imagine!</b>
            </div>
        </div>
        <div id="signup-form" class="signup-form">
            <div id="signup-form-teaser" class="signup-form-teaser">
                <div class="signup-teaser-text">
                    As a <span class="bold">MyLife</span> member, you gain free access to a global nascent, revolutionary platform where you can create personalized AI Avatar&mdash;as unique and multifaceted as <em>you</em>&mdash;to interact, explore and connect online.
                </div>
                <div class="signup-teaser-text">
                    <em>Join <b>MyLife</b> and help pioneer the emerging digital era of human empowerment and connection!</em>
                </div>
                <div id="signup-input-container" class="signup-input-container">
                    <div id="signup-type" class="signup-type signup-input">
                        <label id="signup-newsletter-label" class="signup-input-label" for="signup-newsletter">
                            <input id="signup-newsletter" name="signup-type" type="radio" value="newsletter" checked> Newsletter
                        </label>
                        <label id="signup-register-label" class="signup-input-label" for="signup-register">
                            <input id="signup-register" name="signup-type" type="radio" value="register"> Register
                        </label>
                    </div>
                    <div id="signup-email-input" class="signup-input">
                        <label class="signup-input-label" for="email-input-text" id="email-input-label">Email:</label>
                        <input id="email-input-text" type="email" placeholder="Enter your email" required>
                    </div>
                    <div id="signup-human-name-input" class="signup-input">
                        <label id="human-name-input-label" class="signup-input-label" for="human-name-input-text">Name:</label>
                        <input type="text" id="human-name-input-text" minlength="3" placeholder="Enter your name or nickname" required>
                    </div>
                    <div id="signup-avatar-name-input" class="signup-input">
                        <label class="signup-input-label" for="avatar-name-input-text" id="avatar-name-input-label">AI-Assistant Name:</label>
                        <input type="text" id="avatar-name-input-text" placeholder="Avatar Nickname" required>
                    </div>
                    <button class="button" type="button" id="signup-submit" disabled>Submit</button>
                </div>
            </div>
        </div>
        <!-- signup Form (Initially Hidden) -->
        <div id="signup-success" class="signup-success">
            <div class="signup-teaser-text">
                <div>
                    ...and welcome to <b>MyLife</b> where your journey to creating an everlasting digital legacy begins. 
                </div>
            </div>                
            <div class="signup-teaser-text">
                <div>
                    You're in control. In control of your data, of your exposure, of your privacy, in control of <em>your experience</em>.
                </div>
            </div> 
            <div class="signup-teaser-text">
                <div>
                    At <b>MyLife</b>, we envision sharing <em>your</em> story <em>as</em> contribution to the greater Human Story. In a real way. Without having to write novels (though you may!) or compose sentient operas (feel enouraged!), but most importantly by <em>being</em> and your striving to become who you're <em>meant</em> to be. The greatest gift you can give <u>Humanity</u> is your lived experience, and that precious gift only accepted to the degree you consent.
                </div>
            </div>
            <div class="signup-teaser-text">
                This is the freedom of the future, where your journey not only defines your legacy but also helps shape the direction of our collective digital world.
            </div>
            <div class="signup-teaser-text">
                We will contact you shortly by email when your alpha member account is ready.
            </div>
        </div>
    </div>
</div>