<div class="widget bot" id="bot-container">
    <div class="bot-container" id="personal-avatar">
        <div class="bot-status" id="personal-avatar-status">
            <div class="bot-icon" id="personal-avatar-icon"></div>
            <div class="bot-title" id="personal-avatar-title">Intelligent Assistant</div>
            <div class="bot-name ticker" id="personal-avatar-name">
                <span id="personal-avatar-name-ticker"><%= avatar.name %></span>
            </div>
            <div class="bot-options-dropdown" id="personal-avatar-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
        </div>
        <div class="bot-options hidden" id="personal-avatar-options">
            <!-- Bot Name -->
            <div class="input-group" id="personal-avatar-bot_name">
                <label for="personal-avatar-bot_name">Avatar Name:</label>
                <input class="bot-input bot-name" id="personal-avatar-input-bot_name" maxlength="256" />
            </div>
            <!-- Date of Birth -->
            <div class="input-group" id="personal-avatar-dob">
                <label for="personal-avatar-input dob">My Date of Birth:</label>
                <input class="bot-date-input bot-dob" id="personal-avatar-input-dob" type="date" />
            </div>
            <button class="button passphrase-reset" id="passphrase-reset-button">Reset passphrase</button>
            <div id="personal-avatar-passphrase-container" class="passphrase-container">
                <span class="fas fa-trash passphrase-cancel" id="personal-avatar-passphrase-cancel"></span>
                <input class="bot-input passphrase-input" id="personal-avatar-passphrase" maxlength="256" />
                <span class="fa-solid fa-right-to-bracket passphrase-enter" id="personal-avatar-passphrase-submit"></span>
            </div>
            <button class="button bot-update" id="personal-avatar-update">Update</button>
            <button class="button bot-upload" id="personal-avatar-upload">Upload</button>
            <button class="button bot-posterity" id="personal-avatar-posterity">View My Avatar</button>
            <button class="button bot-import" id="personal-avatar-import">Import or Connect Assistants</button>
        </div>
    </div>
    <div class="header">Memoire Team</div>
    <div class="bot-container" id="personal-biographer">
        <div class="bot-status" id="personal-biographer-status">
            <div class="bot-icon" id="personal-biographer-icon"></div>
            <div class="bot-title" id="personal-biographer-title">Biographer</div>
            <div class="bot-name ticker" id="personal-biographer-name">
                <span id="personal-biographer-name-ticker"></span>
            </div>
            <div class="bot-options-dropdown" id="personal-biographer-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
        </div>
        <div class="bot-options hidden" id="personal-biographer-options">
            <!-- Bot Name -->
            <div class="input-group" id="personal-biographer-bot_name">
                <label for="personal-biographer-input-bot_name">Biographer Name:</label>
                <input class="bot-input bot-name" id="personal-biographer-input-bot_name" maxlength="256" />
            </div>
            <!-- story vs. Interview -->
            <div class="input-group narrative">
                <div class="slider-labels">
                    <span class="left-label">more<br />story-telling</span>
                    <span class="right-label">more<br />interview</span>
                </div>
                <input type="range" id="personal-biographer-narrative" name="narrative-slider" min="1" max="100" value="20">
            </div>
            <!-- Interests/Hobbies -->
            <div class="input-group interests" id="personal-biographer-interests">
                <label>I enjoy talking about:</label>
                <div class="checkbox-group">
                    <!-- Repeat for each interest -->
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-career" value="Career">
                        <label for="personal-biographer-career">Work/Career</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-ideas" value="Ideas">
                        <label for="personal-biographer-ideas">Ideas</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-art" value="Art">
                        <label for="personal-biographer-art">Art</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-music" value="Music">
                        <label for="personal-biographer-music">Music</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-health" value="Health">
                        <label for="personal-biographer-health">Health</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-politics" value="Politics">
                        <label for="personal-biographer-politics">Politics</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-pets" value="Pets">
                        <label for="personal-biographer-pets">Pets</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-family" value="Family">
                        <label for="personal-biographer-family">Family</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-culture" value="Culture">
                        <label for="personal-biographer-culture">Culture</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-literature" value="Literature">
                        <label for="personal-biographer-literature">Literature</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-relationships" value="Relationships">
                        <label for="personal-biographer-relationships">Relationships</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-academics" value="Academics">
                        <label for="personal-biographer-academics">Academic Pursuits</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-sports" value="Sports">
                        <label for="personal-biographer-sports">Sports</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-travel" value="Travel">
                        <label for="personal-biographer-travel">Travel</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-volunteering" value="Volunteering">
                        <label for="personal-biographer-volunteering">Volunteering</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-tech" value="Tech">
                        <label for="personal-biographer-tech">Tech</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-food" value="Food">
                        <label for="personal-biographer-food">Food</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-social-justice" value="Social Justice">
                        <label for="personal-biographer-social-justice">Social Justice</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-hobbies" value="Hobbies">
                        <label for="personal-biographer-hobbies">Hobbies</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-business" value="Business">
                        <label for="personal-biographer-business-market">Business</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-entertainment" value="Entertainment">
                        <label for="personal-biographer-entertainment">Entertainment</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-philosophy" value="Philosophy">
                        <label for="personal-biographer-philosophy">Philosophy</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-psychology" value="Psychology">
                        <label for="personal-biographer-psychology">Psychology</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-digital-self" value="Digital Self">
                        <label for="personal-biographer-digital-self-presence">Digital Self</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-fashion" value="Fashion">
                        <label for="personal-biographer-fashion">Fashion</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="personal-biographer-science" value="Science">
                        <label for="personal-biographer-science">Science</label>
                    </div>                    
                </div>
            </div>
            <!-- Privacy Settings -->
            <div class="input-group privacy">
                <div class="slider-labels">
                    <span class="left-label">private</span>
                    <span class="right-label">public</span>
                </div>
                <input type="range" class="privacy-slider" id="personal-biographer-privacy" name="privacy-slider" min="0" max="100" value="0">
            </div>
            <!-- bot buttons -->
            <button class="button bot-update" id="personal-biographer-update">Update</button>
            <button class="button bot-upload" id="personal-biographer-upload">Upload</button>
            <button class="button bot-write" id="personal-biographer-write-biography">Write My Biography</button>
        </div>
    </div>
    <div class="bot-container" id="journaler">
        <div class="bot-status" id="journaler-status">
            <div class="bot-icon" id="journaler-icon"></div>
            <div class="bot-title" id="journaler-title">Journal Assistant</div>
            <div class="bot-name ticker" id="journaler-name">
                <span id="journaler-name-ticker">J.J.</span>
            </div>
            <div class="bot-options-dropdown" id="journaler-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
        </div>
        <div class="bot-options hidden" id="journaler-options" name="bot-options">
            <!-- Bot Name -->
            <div class="input-group" id="journaler-bot_name">
                <label for="journaler-input-bot_name">Journal Assistant's Name:</label>
                <input class="bot-name" id="journaler-input-bot_name" maxlength="256" />
            </div>
            <!-- Interests/Hobbies -->
            <div class="input-group interests" id="journaler-interests">
                <label>I enjoy journaling about:</label>
                <div class="checkbox-group">
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="art" id="journaler-art" value="art">
                        <label for="journaler-art">Art</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-ideas" value="ideas">
                        <label for="journaler-ideas">Ideas</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-dreams" value="dreams">
                        <label for="journaler-dreams">Dreams</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-relationships" value="relationships">
                        <label for="journaler-relationships">Relationships</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-awareness" value="awareness">
                        <label for="journaler-awareness">Self-awareness</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-understanding" value="understanding">
                        <label for="journaler-understanding">Understanding</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-peace" value="peace">
                        <label for="journaler-peace">Inner Peace</label>
                    </div>
                    <div class="checkbox-group-item">
                        <input type="checkbox" name="interests" id="journaler-spirituality" value="spirituality">
                        <label for="journaler-spirituality">Spirituality</label>
                    </div>
                </div>
            </div>
            <button class="button bot-update" id="journaler-update" name="bot-update">Update</button>
            <button class="button bot-upload" id="journaler-upload" name="bot-upload">Upload</button>
            <button class="button bot-write" id="journaler-write">Write About My Inner Life</button>
        </div>
    </div>
    <div class="bot-container" id="library">
        <div class="bot-status" id="library-status" name="bot-status">
            <div class="bot-icon" id="library-icon" name="bot-icon"></div>
            <div class="bot-title" id="library-title" name="bot-title">Librarian/Collections</div>
            <div class="bot-name ticker" id="library-name" name="bot-name"><span id="library-name-ticker">Librarian</span></div>
            <div class="bot-options-dropdown" id="library-options-dropdown"></div><!-- drop-down caret to trigger slide-down of container below -->
        </div>
        <div class="bot-options hidden" id="library-options" name="bot-options">
            <!-- Bot Name -->
            <div class="input-group" id="library-bot_name">
                <label for="library-input-bot_name">Librarian Name:</label>
                <input class="bot-name" id="library-input-bot_name" maxlength="256" />
            </div>
            <!-- essentially spawns a natural language search based on metatagging and keywords -->
            <div id="library-search" class="input-group search">
                <label for="search">Search:</label>
                <input type="text" id="library-search-input" maxlength="128" placeholder="Results appear in chat" title="Results from search will be presented in main chat window by librarian bot" />
                <span class="fa-solid fa-search" id="library-search-submit"></span>
            </div>
            <div id="library-collections" class="collections"><!-- from here _could_ be dynamic, not just listing -->
                <div id="collection-story" class="collection library-collection story-collection">
                    <div id="collection-bar-story" class="collection-bar">
                        <div id="collection-icon-story" class="collection-icon collection-icon story-icon"></div>
                        <div id="collection-title-story" class="collection-title collection-title story-title">Story Collection</div>
                        <span class="fa-solid fa-refresh collection-refresh story-refresh" id="collection-refresh-story"></span>
                    </div>
                    <div id="collection-list-story" class="collection-list story-list">
                        <!-- story will be listed here -->
                    </div>
                </div>
                <!--<div id="collection-entry" class="collection library-collection entry-collection"></div>-->
                <div id="collection-experience" class="collection library-collection experience-collection">
                    <div id="collection-bar-experience" class="collection-bar">
                        <div id="collection-icon-experience" class="collection-icon collection-icon"></div>
                        <div id="collection-title-experience" class="collection-title collection-title">Experience Collection</div>
                        <span class="fa-solid fa-refresh collection-refresh experience-refresh" id="collection-refresh-experience"></span>
                    </div>
                    <div id="collection-list-experience" class="collection-list experience-list">
                        <!-- experiences will be listed here -->
                    </div>
                </div>
                <!--<div id="collection-conversation" class="collection library-collection conversation-collection"></div>-->
                <div id="collection-file" class="collection library-collection file-collection">
                    <div id="collection-bar-file" class="collection-bar">
                        <div id="collection-icon-file" class="collection-icon collection-icon"></div>
                        <div id="collection-title-file" class="collection-title collection-title">File Collection</div>
                        <span class="fa-solid fa-refresh collection-refresh" id="collection-refresh-file"></span>
                    </div>
                    <div id="collection-list-file" class="collection-list">
                        <!-- files will be listed here -->
                    </div>
                </div>
            </div>
            <!-- bot buttons -->
            <button class="button bot-update" id="library-update" name="bot-update">Update</button>
            <button class="button bot-upload" id="library-upload" name="bot-upload">Upload</button>
        </div>
    </div>
</div>