<div id="alabama"></div>
<p>
  Below is a list of select 2026 Alabama Primary Races where we feel extremist candidates are running, and the best non-extremist choice in our opinion. Blank fields or missing races mean we don't believe a non-extremist choice is available OR that no candidate in the race is considered extremist in our opinion. Note that we are not advocating any of the policies these candidates represent, but are simply trying to focus on their predicted methods and style of governance, favoring ones who oppose strict adherence to extreme ideologies or vocal bases.
</p>
<p class="primary-date">Alabama 2026 Primaries will be held on May 19, 2026</p>
<table>
  <thead>
    <tr>
      <th colspan="3">Recommendations from Citizens for Rational Government</th>
    </tr>
    <tr>
      <th>Office</th>
      <th class="republican">Republican</th>
      <th class="democrat">Democrat</th>
    </tr>
  </thead>
  <tbody>
    <tr class="blue">
      <td>Senate</td>
      <td><a href="https://stevemarshallforsenate.com/" target="_blank" rel="noopener">Steve Marshall</a></td>
      <td></td>
    </tr>
    <tr class="blue">
      <td>Governor</td>
      <td><a href="https://www.ken4gov.com/" target="_blank" rel="noopener">Ken McFeeters</a></td>
      <td><a href="https://www.dougjones.com/" target="_blank" rel="noopener">Doug Jones</a></td>
    </tr>
    <tr class="blue">
      <td>Attorney General</td>
      <td><a href="https://www.jayforalabama.com/" target="_blank" rel="noopener">Jay Mitchell</a></td>
      <td></td>
    </tr>
    <tr class="blue">
      <td>State Board of Education District 8</td>
      <td><a href="https://connie-spears.com/" target="_blank" rel="noopener">Connie Spears</a></td>
      <td></td>
    </tr>
    <tr class="green">
      <td>US House District 20</td>
      <td><a href="https://www.lomaxforhouse.com/" target="_blank" rel="noopener">James Lomax</a></td>
      <td></td>
    </tr>
    <tr class="green">
      <td>US House District 40</td>
      <td>Chad Robertson</td>
      <td></td>
    </tr>
    <tr class="green">
      <td>US House District 96</td>
      <td><a href="https://voteformattsimpson.com/" target="_blank" rel="noopener">Matt Simpson</a></td>
      <td></td>
    </tr>
  </tbody>
</table>