<div id="arizona"></div>
<p>
  Below is a list of select 2026 Arizona Primary Races where we feel extremist candidates are running, and the best non-extremist choice in our opinion. Blank fields or missing races mean we don't believe a non-extremist choice is available OR that no candidate in the race is considered extremist in our opinion. Note that we are not advocating any of the policies these candidates represent, but are simply trying to focus on their predicted methods and style of governance, favoring ones who oppose strict adherence to extreme ideologies or vocal bases.
</p>
<p class="primary-date">Arizona 2026 Primaries will be held on July 21, 2026</p>
<table>
  <thead>
    <tr>
      <th colspan="3">Recommendations from Citizens for Rational Government</th>
    </tr>
    <tr>
      <th>Office</th>
      <th class="republican">Republican</th>
      <th class="democrat">Democrat</th>
    </tr>
  </thead>
  <tbody>
    <tr class="blue">
      <td>Senate</td>
      <td><a href="https://www.facebook.com/votekimberlyyee/" target="_blank" rel="noopener">Kimberly Yee</a></td>
      <td><a href="https://www.gallego.senate.gov/" target="_blank" rel="noopener">Ruben Gallego</a></td>
    </tr>
    <tr class="blue">
      <td>Governor</td>
      <td><a href="https://davidschweikert.com/" target="_blank" rel="noopener">David Schweikert</a></td>
      <td><a href="https://katiehobbs.org/" target="_blank" rel="noopener">Katie Hobbs</a></td>
    </tr>
    <tr class="blue">
      <td>Attorney General</td>
      <td><span class="no-recommendation">No Recommendation</span></td>
      <td><a href="https://www.krismayes.com/" target="_blank" rel="noopener">Kris Mayes</a></td>
    </tr>
    <tr class="blue">
      <td>Secretary of State</td>
      <td><span class="no-recommendation">No Recommendation</span></td>
      <td><a href="https://electfontes.com/" target="_blank" rel="noopener">Adrian Fontes</a></td>
    </tr>
      <tr class="blue">
      <td>Corporate Commission</td>
      <td><a href="https://thompsonforcorpcomm.com/" target="_blank" rel="noopener">Kevin Thompson</a>&mdash;or&mdash;<a href="https://nickmyers.us/" target="_blank" rel="noopener">Nick Myers</a></td>
      <td><a href="https://www.claraforaz.com/" target="_blank" rel="noopener">Clara Pratte</a>&mdash;or&mdash;<a href="https://www.votehillaz.com/" target="_blank" rel="noopener">Jonathon Hill</a></td>
    </tr>
    <tr class="green">
      <td>US House District 1</td>
      <td><a href="https://www.troboughforaz.com/" target="_blank" rel="noopener">John Trobough</a></td>
      <td><a href="https://www.amishforarizona.com/" target="_blank" rel="noopener">Amish Shah</a></td>
    </tr>
    <tr class="magenta">
      <td>Arizona Senate District 3</td>
      <td><a href="https://www.electkavanagh.com/" target="_blank" rel="noopener">John Kavanagh</a></td>
      <td><a href="https://electfortney.com/" target="_blank" rel="noopener">Jeff Fortney</a></td>
    </tr>
    <tr class="magenta">
      <td>Arizona Senate District 7</td>
      <td><span class="no-recommendation">No Recommendation</span></td>
      <td><a href="https://www.itsallmike.com/about-mike-montiel" target="_blank" rel="noopener">Mike Montiel</a></td>
    </tr>
  </tbody>
</table>