<div id="georgia"></div>
<p>
  Below is a list of select 2026 Georgia Primary Races where we feel extremist candidates are running, and the best non-extremist choice in our opinion. Blank fields or missing races mean we don't believe a non-extremist choice is available OR that no candidate in the race is considered extremist in our opinion. Note that we are not advocating any of the policies these candidates represent, but are simply trying to focus on their predicted methods and style of governance, favoring ones who oppose strict adherence to extreme ideologies or vocal bases.
</p>
<p class="primary-date">Georgia 2026 Primaries will be held on May 19, 2026</p>
<table>
  <thead>
    <tr>
      <th colspan="3">Recommendations from Citizens for Rational Government</th>
    </tr>
    <tr>
      <th>Office</th>
      <th class="republican">Republican</th>
      <th class="democrat">Democrat</th>
    </tr>
  </thead>
  <tbody>
    <tr class="blue">
      <td>Senate</td>
      <td><a href="https://dooleyforgeorgia.com/" target="_blank" rel="noopener">Derek Dooley</a></td>
      <td><a href="https://electjon.com/" target="_blank" rel="noopener">Thomas J. Ossoff</a></td>
    </tr>
    <tr class="green">
      <td>US House District 1</td>
      <td><a href="https://krista4congress.com/" target="_blank" rel="noopener">Krista Penn</a></td>
      <td><a href="https://www.amandaforga.com/" target="_blank" rel="noopener">Amanda Hollowell</a>&mdash;or&mdash;<a href="https://sswilliamsonforcongress.com/" target="_blank" rel="noopener">Sharon Stokes Williamson</a></td>
    </tr>
    <tr class="green">
      <td>US House District 2</td>
      <td></td>
      <td><a href="https://sanfordbishop.com/" target="_blank" rel="noopener">Sanford Dixon Bishop Jr.</a></td>
    </tr>
    <tr class="green">
      <td>US House District 3</td>
      <td></td>
      <td><a href="https://maurakeller.com/" target="_blank" rel="noopener">Maura Kathleen Keller</a></td>
    </tr>
    <tr class="green">
      <td>US House District 4</td>
      <td></td>
      <td><a href="https://hankforcongress.com/" target="_blank" rel="noopener">Henry Calvin "Hank" Johnson Jr.</a></td>
    </tr>
    <tr class="green">
      <td>US House District 5</td>
      <td></td>
      <td><a href="https://nikemawilliams.com/" target="_blank" rel="noopener">Nikema Williams</a></td>
    </tr>
    <tr class="green">
      <td>US House District 6</td>
      <td>Kevin Eugene Martin</td>
      <td><a href="https://lucyforcongress.com/" target="_blank" rel="noopener">Lucy McBath</a></td>
    </tr>
    <tr class="green">
      <td>US House District 7</td>
      <td><a href="https://www.richmccormick.us/" target="_blank" rel="noopener">Richard Dean McCormick</a></td>
      <td><a href="https://case4congress.com/" target="_blank" rel="noopener">Case Norton</a></td>
    </tr>
    <tr class="green">
      <td>US House District 8</td>
      <td><a href="https://scottforga.com/" target="_blank" rel="noopener">James Austin Scott</a></td>
      <td><a href="https://lucasforcongress.org/" target="_blank" rel="noopener">Justin M. Lucas</a></td>
    </tr>
    <tr class="green">
      <td>US House District 9</td>
      <td></td>
      <td><a href="https://www.caitlynforgeorgia.com/" target="_blank" rel="noopener">Caitlyn Gegen</a></td>
    </tr>
    <tr class="green">
      <td>US House District 10</td>
      <td></td>
      <td><a href="https://lexydoherty.com/" target="_blank" rel="noopener">Alexandra "Lexy" Doherty</a></td>
    </tr>
    <tr class="green">
      <td>US House District 11</td>
      <td><a href="https://johnhobbsforcongress.com/" target="_blank" rel="noopener">John Hobbs</a></td>
      <td><a href="https://chrishardenforcongress.com/" target="_blank" rel="noopener">Chris Harden</a></td>
    </tr>
    <tr class="green">
      <td>US House District 12</td>
      <td><a href="https://rickwallen.com/" target="_blank" rel="noopener">Richard Allen</a></td>
      <td><a href="https://briwoodsonforcongress.com/" target="_blank" rel="noopener">Brianna Woodson</a>&mdash;or&mdash;<a href="https://cerettaforgeorgia.com/" target="_blank" rel="noopener">Ceretta Smith</a></td>
    </tr>
    <tr class="green">
      <td>US House District 13</td>
      <td><a href="https://www.jonathanchavezforcongress.com/" target="_blank" rel="noopener">Jonathan James Chavez</a></td>
      <td><a href="https://jasmine4ga.com/" target="_blank" rel="noopener">Jasmine Clark</a></td>
    </tr>
    <tr class="green">
      <td>US House District 14</td>
      <td><a href="https://starblackforcongress.com/" target="_blank" rel="noopener">Star Black</a></td>
      <td><a href="https://www.shawnforgeorgia.com/" target="_blank" rel="noopener">Shawn Andre Harris</a></td>
    </tr>
  </tbody>
</table>