<p>
  Below is a list of select 2026 Indiana Primary Races where we feel extremist candidates are running, and the best non-extremist choice in our opinion. Blank fields or missing races mean we don't believe a non-extremist choice is available OR that no candidate in the race is considered extremist in our opinion. Note that we are not advocating any of the policies these candidates represent, but are simply trying to focus on their predicted methods and style of governance, favoring ones who oppose strict adherence to extreme ideologies or vocal bases.
</p>
<p class="primary-date">Indiana 2026 Primaries will be held on May 5, 2026</p>
<table>
  <thead>
    <tr>
      <th colspan="3">Recommendations from Citizens for Rational Government</th>
    </tr>
    <tr>
      <th>Office</th>
      <th class="republican">Republican</th>
      <th class="democrat">Democrat</th>
    </tr>
  </thead>
  <tbody>
    <tr class="green">
      <td>US House District 7</td>
      <td></td>
      <td><a href="https://andrecarson.com/" target="_blank" rel="noopener">Andre Carson</a></td>
    </tr>
    <tr class="yellow">
      <td>State House District 20</td>
      <td><a href="https://jimpressel.com/" target="_blank" rel="noopener">Jim Pressel</a></td>
      <td></td>
    </tr>
    <tr class="yellow">
      <td>State House District 30</td>
      <td><a href="https://www.votepauladavis.com/" target="_blank" rel="noopener">Paula Davis</a></td>
      <td></td>
    </tr>
    <tr class="yellow">
      <td>State House District 56</td>
      <td>Pete Zaleski</td>
      <td></td>
    </tr>
    <tr class="magenta">
      <td>State Senate District 19</td>
      <td><a href="https://hoosiers4holdman.com/" target="_blank" rel="noopener">Travis Holdman</a></td>
      <td></td>
    </tr>
    <tr class="magenta">
      <td>State Senate District 21</td>
      <td><a href="https://jimbuckforsenate.com/" target="_blank" rel="noopener">Jim Buck</a></td>
      <td></td>
    </tr>
    <tr class="magenta">
      <td>State Senate District 22</td>
      <td><a href="https://ronalting.com/" target="_blank" rel="noopener">Ron Alting</a></td>
      <td></td>
    </tr>
    <tr class="magenta">
      <td>State Senate District 23</td>
      <td><a href="https://www.spencerdeery.com/" target="_blank" rel="noopener">Spencer Deery</a></td>
      <td></td>
    </tr>
    <tr class="magenta">
      <td>State Senate District 38</td>
      <td><a href="https://www.indianasenaterepublicans.com/goode" target="_blank" rel="noopener">Greg Goode</a></td>
      <td></td>
    </tr>
    <tr class="magenta">
      <td>State Senate District 39</td>
      <td><a href="https://www.bouchie.org/" target="_blank" rel="noopener">Tanner Bouchie</a>&mdash;or&mdash;<a href="https://kristirisk.com/" target="_blank" rel="noopener">Kristi Risk</a></td>
      <td></td>
    </tr>
    <tr class="magenta">
      <td>State Senate District 41</td>
      <td><a href="https://www.taxpayersforgregwalker.com/" target="_blank" rel="noopener">Greg Walker</a></td>
      <td></td>
    </tr>
  </tbody>
</table>